{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

 

 


{% block title %}{{ status_code }} {{ status_text }}{% endblock %}



{% block body %}
 <h2>{{ status_code }} - Erreur {{ status_text }}</h2>            
      
 
        <div class="well">
            Erreur interne. Veuillez nous excuser.
        </div>
      
     
{% endblock %}
