{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

 

 


{% block title %}{{'hometitle'|trans}}{% endblock %}



{% block body %}
 <h2>{{'Page non trouvée'|trans}} - Erreur {{ status_code }}</h2>  

        <div class="well">
            Malheureusement, cette page n'existe plus.        </div>
      
     
{% endblock %}
