{# Evenements de la semaine #}
{% if events|length > 0 %}
    <div id="contentAjax">
        {% for item in events %}
                {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Pagination #}
{% if events|length > 0 %}
    {% include "mdtshomeBundle:Partial:paginationrecherche.html.twig" %}
{% endif %}