{# Evenements de la semaine #}
{% if events|length > 0 %}
    <div id="contentAjax">
        {% for item in events %}
                {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Si Evenements de la semaine vide et tous les évenements existent #}
{% if events|length <= 0 and allevents|length>0 %}
    <div id="contentAjax">
        {% for item in allevents %}
            {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Pagination #}
{% if events|length > 0 or allevents|length>0 %}
    {% include "mdtshomeBundle:Partial:pagination.html.twig" %}
{% endif %}