    {# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% set djarray = [] %}
{% set artistearray = [] %}
{% set realisateurarray = [] %}

{% for type in event.EventArtistesDjOrganisateurs %}
  {% if type.type == 'dj' %}
      {% set djarray = djarray|merge([{'id': type.id, 'name' : type.name, 'origSlug' : type.origSlug, 'photo': type.photo }]) %}
  {% elseif type.type == 'artiste' %}
      {% set artistearray = artistearray|merge([{'id': type.id, 'name' : type.name, 'origSlug' : type.origSlug, 'photo': type.photo }]) %}
  {% else  %}
      {% set realisateurarray = realisateurarray|merge([{'id': type.id, 'name' : type.name, 'origSlug' : type.origSlug, 'photo': type.photo }]) %}
  {% endif %}
{% endfor %}

{% if event.eventlieu.gps is defined %}
  {% set gpsinfo = event.eventlieu.gps|split(',') %}
{% endif %}

{% if event.EventDate is defined %}
    {% set dates_array = [] %}
    {% set minvalue = [] %}
    {% for date in event.EventDate %}
        {% set dates_array = dates_array|merge([{ 'date' : date.date  }]) %}
        {% set minvalue = minvalue|merge([date.date | date('U')]) %}
    {% endfor %}
{% endif %}

{% if event.ArticlesEvent|length > 0 %}
{% set article_array_before = [] %}
{% set article_array = [] %}
{% set article_array_after = [] %}
{% for type in event.ArticlesEvent %}
  {% if dates_array|length > 1 and type.CreatedAt | date('U')< min(minvalue)  %}
      {% set article_array_before = article_array_before|merge([{ 'createdAtTsamp' : type.CreatedAt | date('U'), 'CreatedAt' : type.CreatedAt, 'title' : type.title, 'url' : type.url, 'content' : type.content, 'author' : type.author }]) %}
  {% elseif dates_array|length > 1 and type.CreatedAt | date('U') > max(minvalue)  %}
      {% set article_array_after = article_array_after|merge([{ 'createdAtTsamp' : type.CreatedAt | date('U'), 'CreatedAt' : type.CreatedAt, 'title' : type.title, 'url' : type.url, 'content' : type.content, 'author' : type.author }]) %}
  {% elseif dates_array|length == 1 and type.CreatedAt | date('U') > max(minvalue)  %}
      {% set article_array_after = article_array_after|merge([{ 'createdAtTsamp' : type.CreatedAt | date('U'), 'CreatedAt' : type.CreatedAt, 'title' : type.title, 'url' : type.url, 'content' : type.content, 'author' : type.author }]) %}
  {% elseif dates_array|length == 1 and type.CreatedAt | date('U')< min(minvalue)  %}
      {% set article_array_before = article_array_before|merge([{ 'createdAtTsamp' : type.CreatedAt | date('U'), 'CreatedAt' : type.CreatedAt, 'title' : type.title, 'url' : type.url, 'content' : type.content, 'author' : type.author }]) %}
  {% else %}
      {% set article_array = article_array|merge([{ 'createdAtTsamp' : type.CreatedAt | date('U'), 'CreatedAt' : type.CreatedAt, 'title' : type.title, 'url' : type.url, 'content' : type.content, 'author' : type.author }]) %}
  {% endif %}
{% endfor %}
{% endif %}

{% block title %}{{ event.name }}{% endblock %}
{% block ogtitle %}{{ event.name }} - Madatsara{% endblock %}
{% block twittertitle %}{{ event.name }} - Madatsara{% endblock %}
{% block itempropname %}{{ event.name }} - Madatsara{% endblock %}

{% block metadesc %}{{ event.description | raw | striptags | truncate(255) }} - Madatsara{% endblock %}
{% block metaogdesc %}{{ event.description | raw |striptags| truncate(255) }} - Madatsara{% endblock %}
{% block metatwitterdesc %}{{ event.description | raw |striptags| truncate(255) }} - Madatsara{% endblock %}
{% block metaitempropdesc %}{{ event.description | raw |striptags| truncate(255) }} - Madatsara{% endblock %}

{% block twitterropimage %}{% if event.flyer is defined%}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/flyers/{{ event.flyer }}{%else%}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{%endif%}{% endblock %}
{% block ogimage %}{% if event.flyer is defined%}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/flyers/{{ event.flyer }}{%else%}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{%endif%}{% endblock %}
{% block itempropimage %}{% if event.flyer is defined%}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/flyers/{{ event.flyer }}{%else%}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{%endif%}{% endblock %}

{% block oneSignalSendtags %}

    {# FE User Id #}
    {% if app.user.id  is defined %}

        OneSignal.sendTags({
            user_id: "{{ app.user.id }}"
        }).then(function(tagsSent) {

        });

    {% endif %}



{% endblock %}

{% block body %}

 
<div class="container">
	<ol class="breadcrumb" xmlns:v="http://rdf.data-vocabulary.org/#">
		<li><span typeof="v:Breadcrumb"><a  data-gaecategory="Lien" data-gaelabel="Fil d'Ariane - {{'Accueil'|trans}}" class="txt-red-darken-4" href="{{ path('mdtshome_homepage') }}" rel="v:url" property="v:title">{{'Accueil'|trans}}</a></span></li>
		<li><span typeof="v:Breadcrumb"><a data-gaecategory="Lien" data-gaelabel="Fil d'Ariane - {{'Evènements'|trans}}" class="txt-red-darken-4" href="{{ path('mdts_allevent') }}" rel="v:url" property="v:title">{{'Evènements'|trans}}</a></span></li>
		<li class="active" property="v:title" data-gaecategory="Texte" data-gaelabel="(Fil d'Ariane) - {{ event.name }}">{{ event.name }}</li>
	</ol>
</div>



 

<div id="containerbloc">
      <h2 data-gaecategory="Entete" data-gaelabel="Detail - Titre {{ event.name }}">{{ event.name }}{% if event.cancelledAt == 1 %} <em>(Annulé)</em>{% endif %}</h2>
 <div class="row">
 <div class="col-xs-12 col-sm-4 col-md-4">
 
 {# Flyer begin #}
     {% if event.cancelledAt == 1 and event.flyercancelled != '' %}
         <img  data-gaecategory="Modaldialog" data-gaelabel="Detail - Titre {{ event.name }}" data-href="{{ ('/assets/flyers/' ~ event.flyercancelled ) }}" class="cursorpointer center-block img-responsive" src="{{ ('/assets/flyers/' ~ event.flyercancelled ) | imagine_filter('resize') }}">
     {% elseif event.flyer != "" %}
        <img  data-gaecategory="Modaldialog" data-gaelabel="Detail - Titre {{ event.name }}" data-href="{{ ('/assets/flyers/' ~ event.flyer ) }}" class="cursorpointer center-block img-responsive" src="{{ ('/assets/flyers/' ~ event.flyer ) | imagine_filter('resize') }}">
     {% else %}
        <img  data-gaecategory="Modaldialog" data-gaelabel="Detail - Titre {{ event.name }}" data-href="{{ ('/assets/flyers/xxxxxnoimage.jpg' ) }}" class="cursorpointer center-block img-responsive" src="{{ ('/assets/flyers/xxxxxnoimage.jpg' ) | imagine_filter('resize') }}">
     {% endif %}
 {% if event.EventFlyers|length > 0 and event.EventFlyers[0].image != event.flyer %}
 <p>Autres flyers de l'événement</p>
 <div id="myCarousel" class="carousel slide" data-ride="carousel">
 <ol class="carousel-indicators">
 {% for img in event.EventFlyers %}
    <li data-target="#myCarousel" data-slide-to="{{ loop.index0 }}"{% if loop.index0 == 0 %} class="active"{% endif %}></li>
  {% endfor %}
  </ol>

  <div class="carousel-inner" role="listbox">
    {% for img in event.EventFlyers %}
    {% if img.ismain == 0 or img.ismain is null %}
    {% if loop.index0 == 0 or loop.index0 is divisible by(4)%}
      <div class="item{% if loop.index0 == 0 %} active{% endif %}"><div class="row">
    {% endif %}
       <div class="col-md-4">            
        <img data-gaecategory="Modaldialog" data-gaelabel="Detail - Titre {{ event.name }}" data-href="{{ ('/assets/flyers/' ~ img.image ) }}" alt="" src="{{ ('/assets/flyers/' ~ img.image ) | imagine_filter('my_thumb_70') }}"> </div>
      
      {% if (loop.index0 > 0 and loop.index0 is divisible by(4)) or loop.last %}
        </div></div>
      {% endif %}
    
    {% endif %}
     {% endfor %}
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

  {% endif %}

  {# Flyer end #}

  {# MAP begin #}
  {% if event.eventlieu.gps is defined %}
  {% set gpsinfo = event.eventlieu.gps|split(',') %}
  <br>

  {% if event.eventmultilieu|length > 0 %}

      {% for lieu in event.eventmultilieu %}
         <span data-gaecategory="Texte" data-gaelabel="(Lieux multiples) - {{ lieu.name }} - Detail - Titre {{ event.name }}">
         <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>{% if lieu.name|isvowel  %}
                à l'{% else %}
                au
                {% endif %}<a  role="button" data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': lieu.name}) }}" href="{{ path('mdts_allevent_place', {'slug': lieu.origSlug}) }}">{{ lieu.name }}</a>{% if event.eventmultiheure[loop.index0].heure is defined %} à <strong>{{ event.eventmultiheure[loop.index0].heure|date('H:i') }}</strong>{% endif %}
                </span>
          {% if lieu.gps | length > 0 %}
         <div style="width:100%;height:250px;" itemscope itemtype="http://schema.org/Place"  class="googlemap" id="googlemap{{ loop.index }}" >
      <span itemprop="name" class="hidden">{{ lieu.name }}</span>
      {% if lieu.address %}
      <div  class="hidden" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ lieu.address }}</span>
      </div>
      {% endif %}


      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="{{ lieu.gps|split(',')[0] }}" />
        <meta itemprop="longitude" content="{{ lieu.gps|split(',')[1] }}" />
      </div>
      <br>
    </div>
             {% endif %}
 

  <hr>
     {% endfor %}

  {% elseif gpsinfo[0] is defined and gpsinfo[1] is defined %}
  <div style="width:100%;height:250px;" itemscope itemtype="http://schema.org/Place" id="googlemap" >
      <span itemprop="name" class="hidden">{{ event.eventlieu.name }}</span>
      {% if event.eventlieu.address is defined %}
      <div  class="hidden" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ event.eventlieu.address }}</span>
      </div>
      {% endif %}


      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="{{ gpsinfo[0] }}" />
        <meta itemprop="longitude" content="{{ gpsinfo[1] }}" />
      </div>

    </div>
  {% endif %}
 
   {% endif %}
{# MAP End #}

{# Video begin #}
 
  {% if event.Eventvideos|length > 0 %}
    <hr>
    <h5>Vidéo promotionnelle</h5>{{ mtsOembed( event.Eventvideos[0].url, '100%' ) }}
  {% endif %}
{# Video end #}


 </div>
<div class="col-xs-12 col-sm-5 col-md-5">

{% if event.description != event.name %}
  <blockquote data-gaecategory="Texte" data-gaelabel="(Paragraphe) - description - Detail - Titre {{ event.name }}">{{ event.description | raw }}</blockquote>
{% endif %}



  <span data-gaecategory="Texte" data-gaelabel="(Date et/ou Heure) - Detail - Titre {{ event.name }}">
  <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>



      {{ showDateEventComplete(event) | raw }}






                  {# cas1 - le mois et l'année sont identiques #}

</span>


                {% if event.eventlieu.name is defined and event.eventlieu.name is not empty and event.eventlieu.name != 'name' %}



                 <span data-gaecategory="Texte" data-gaelabel="(Lieu) - Detail - Titre {{ event.name }}">

<span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> <a  role="button" data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': event.eventlieu.name}) }}" href="{{ path('mdts_allevent_place', {'slug': event.eventlieu.origSlug}) }}">{{ event.eventlieu.name }}</a>
                {% endif %}
                </span>
                
                {% if event.entreetype.name is defined %}
                <span data-gaecategory="Texte" data-gaelabel="(Prix d'entrée) - Detail - Titre {{ event.name }}">
                <br><i class="fa fa-money"></i> Tarif : 
                {% if event.entreetype.id != 2 %}  
                  <strong  data-gaecategory="Texte" data-gaelabel="(Prix d'entrée {{ event.entreetype.name }}) - Detail - Titre {{ event.name }}">{{ event.entreetype.name }}</strong>
                {% else %}


                  {% if event.EventPrice|length > 0 %}

                    {% for prix in event.EventPrice %}
                    {{ prix.price }} {{ prix.devise[0].initiales }} {{ prix.detailprice }}
                      {% if event.EventPrice|length > 1 %}
                        <br>  
                      {% endif %}
                   {% endfor %}

                  {% elseif event.prixenclair is not empty %}
                    {{ event.prixenclair }}
                  {% endif %}
                {% endif %}
                </span>    
                {% endif %}

                {% if event.contactEvent %}
                <p data-gaecategory="Texte" data-gaelabel="(Contact) - Detail - Titre {{ event.name }}"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Contact : {{ event.contactEvent }}</p>
                {% endif %}

                {% if event.resaPrevente %}
                <p data-gaecategory="Texte" data-gaelabel="(Resa Prévente) - Detail - Titre {{ event.name }}"><span class="glyphicon glyphicon-phone" aria-hidden="true"></span> Prévente/Résa : {{ event.resaPrevente }}</p>
                {% endif %}

                {% if event.accesTransport %}
                <p data-gaecategory="Texte" data-gaelabel="(Acces transport) - Detail - Titre {{ event.name }}"><i class="fa fa-bus"></i> Prévente/Résa : {{ event.accesTransport }}</p>
                {% endif %}
 
                 
                <hr>

                <div class="row">
 
                {% if event.eventlieu.logo is defined and event.eventlieu.logo is not empty %}

                  <div class="col-xs-12 col-sm-3 col-md-3">
{#{% set runtimeConfig = {"thumbnail": {"size": [300, 200] }} %}#}
<img data-gaecategory="Image" data-gaelabel="(Logos lieu) - Detail - Titre {{ event.name }}" src="{{ ('/assets/flyers/' ~ event.eventlieu.logo ) | imagine_filter('crop_100_100') }}">
                  </div>
                {% endif %}

                {% if event.eventlieu.logo is defined and event.eventlieu.logo is not empty %}
                  <div class="col-xs-12 col-sm-9 col-md-9">
                {% else %}  
                  <div class="col-xs-12 col-sm-12 col-md-12">
                {% endif %}
                <p>
                  
                  {% if event.eventlieu.address is defined and event.eventlieu.address is not empty %}
                  <em class="fa fa-home"></em>  {{ event.eventlieu.address }}<br> 
                  {% endif %}
                  {% if event.eventlieu.tel is defined and event.eventlieu.tel is not empty %}
                  <abbr  data-gaecategory="Texte" data-gaelabel="(Tel) - Detail - Titre {{ event.name }}" title="Phone"><em class="fa fa-phone"></em></abbr> {{ event.eventlieu.tel }}
                  {% endif %}
                </p>

                <p>
                {% if event.eventlieu.email is defined and event.eventlieu.email is not empty %}
                  <a data-gaecategory="Lien" data-gaelabel="(Email Lieu) - Detail - Titre {{ event.name }}" class="txt-red-darken-4" href="mailto:{{ event.eventlieu.email }}">{{ event.eventlieu.email }}</a>
                   <br>{% endif %}
                {% if event.eventlieu.www is defined and event.eventlieu.www is not empty %}
                   
                  <a data-gaecategory="Lien" data-gaelabel="(Siteweb Lieu) - Detail - Titre {{ event.name }}" class="txt-red-darken-4" href="{{ event.eventlieu.www }}" target="_blank"><em class="fa fa-external-link"></em> {{ event.eventlieu.www }}</a>
                  <br> {% endif %}
                {% if event.eventlieu.facebook is defined and event.eventlieu.facebook is not empty %}
                   
                  <a data-gaecategory="Lien" data-gaelabel="(Facebook Lieu) - Detail - Titre {{ event.name }}" class="txt-red-darken-4" href="{{ event.eventlieu.facebook }}" target="_blank"><em class="fa fa-facebook-official"></em> Page Facebook</a>
                   {% endif %}      
                </p>
                  </div>
                  </div>
                  {% if event.eventtype|length > 0 %}
                  <p>{{ 'Classé dans'|trans }} : </p>

                    {% for type in event.eventtype %}
                      <a data-gaecategory="Lien" data-gaelabel="(Classé dans) {{ type.name }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_allevent_type', {'slug': type.origSlug}) }}" class="btn-xs btn btn-default" role="button" data-toggle="tooltip" data-placement="top" title="{{'show.categ'|trans({'%categ%': type.name}) }}">{{ type.name }}</a>
                   {% endfor %}

                   
                  {% endif %}

                  {# Artistes #}
                  {% if event.EventArtistesDjOrganisateurs|length > 0 %}
                     <hr>




                      {% if artistearray is defined and artistearray|length>0 %}
                          <p><strong>Artiste(s)</strong></p>
                          {% include "mdtshomeBundle:Partial:artiste_detail.html.twig"  with { artiste: artistearray }  %}
                      {% endif %}

                           {% if djarray is defined and djarray|length>0 %}
                               <p><strong>DJ / Animation</strong></p>
                                {% include "mdtshomeBundle:Partial:artiste_detail.html.twig"  with { artiste: djarray }  %}
                           {% endif %}



                           {% if realisateurarray is defined  and realisateurarray|length>0 %}
                               <p><strong>Organisation</strong></p>
                                {% include "mdtshomeBundle:Partial:artiste_detail.html.twig"  with { artiste: realisateurarray }  %}
                           {% endif %}


                  {% endif %}










                 {# Articles dans la presse #}
                      {% if event.ArticlesEvent|length > 0 %}


                          <hr><h4>On en parle sur internet</h4>

                          {% if article_array_after is defined and article_array_after | length > 0 %}

                          <h5><strong>Apres l'événement</strong></h5>

                          <div class="list-group">

                              {% for type in article_array_after | sortbyfield('createdAtTsamp','desc') %}
                                  {% include "mdtshomeBundle:Partial:itemarticle.html.twig" with { type: type, nbarticle: article_array | length, nbarticle_before: article_array_before | length, nbarticle_after: article_array_after | length }%}
                              {% endfor %}

                          </div>
                          {% endif %}


                      {% if article_array is defined and article_array | length > 0 %}
                          <h5><strong>Pendant l'événement</strong></h5>
                          <div class="list-group">

                              {% for type in article_array | sortbyfield('createdAtTsamp','desc') %}
                                  {% include "mdtshomeBundle:Partial:itemarticle.html.twig" with { type: type, nbarticle: article_array | length, nbarticle_before: article_array_before | length, nbarticle_after: article_array_after | length }%}
                              {% endfor %}

                          </div>
                      {% endif %}

                      {% if article_array_before is defined and article_array_before | length > 0 %}
                          <h5><strong>Avant l'événement</strong></h5>

                          <div class="list-group">

                              {% for type in article_array_before | sortbyfield('createdAtTsamp','desc') %}
                                  {% include "mdtshomeBundle:Partial:itemarticle.html.twig" with { type: type, nbarticle: article_array | length, nbarticle_before: article_array_before | length, nbarticle_after: article_array_after | length }%}
                              {% endfor %}

                          </div>
                      {% endif %}




                      {% endif %}

 

                 


                 

  
	 </div>

   <div class="col-xs-12 col-sm-3 col-md-3">


        <p class="text-center">{% include "mdtshomeBundle:Partial:addevent.html.twig"  %}</p>

       <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
       <!-- sidebar -->
       <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-0184608766708661"
            data-ad-slot="3086656206"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
       <script>
           (adsbygoogle = window.adsbygoogle || []).push({});
       </script>

{% if related_week %}
<div class="panel panel-default">
  <div class="panel-heading" data-gaecategory="Entete" data-gaelabel="(Col de droite) {{ 'event.contextual.sameweek'|trans }} - Detail - Titre {{ event.name }}">{{ 'event.contextual.sameweek'|trans }}</div>
  <div class="panel-body">
            
            {% for item in related_week %}

            <div class="blockquote-box clearfix">
                
                <h4 class="truncate"><a data-gaecategory="Lien" data-gaelabel="(Col de droite) Item : {{ item.name }} - {{ 'event.contextual.sameweek'|trans }} - Detail - Titre {{ event.name }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{{ item.name }}</a></h4>
                <div class="square pull-left">
                                  
                      <a data-gaecategory="Lien Image" data-gaelabel="(Col de droite) Item : {{ item.name }} - {{ 'event.contextual.sameweek'|trans }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{% if item.flyer != "" %}<img  alt="" src="{{ ('/assets/flyers/' ~ item.flyer ) | imagine_filter('my_thumb_70') }}">{% else %}<img  alt="" src="{{ ('/assets/flyers/xxxxxnoimage.jpg' ) | imagine_filter('my_thumb_70') }}">{% endif %}</a>
                      
                       
                </div>
                <p data-gaecategory="Texte" data-gaelabel="(Col de droite - Date) Item : {{ item.name }} - {{ 'event.contextual.sameweek'|trans }} - Detail - Titre {{ event.name }}">
                    {{ showDateEvent(item) | raw }} </p>
                      
            </div>
       
            {% endfor %}
<div class="clearfix pull-right">
            <a data-gaecategory="Lien" data-gaelabel="(Col de droite) tous events {{ 'event.contextual.sameweek'|trans }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_allevent_week') }}" class="btn-xs btn btn-default" role="button" >{{'event.contextual.allevent_week'|trans }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </a>
            </div>
             
  </div>
</div>
{% endif %}
{% if related_month %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-gaecategory="Entete" data-gaelabel="(Col de droite) - {{ 'event.contextual.samemonth'|trans }} - Detail - Titre {{ event.name }}">{{ 'event.contextual.samemonth'|trans }}</h3>
  </div>
  <div class="panel-body">
    {% for item in related_month %}

            <div class="blockquote-box clearfix">
                
                <h4 class="truncate"><a data-gaecategory="Lien" data-gaelabel="(Col de droite) Item : {{ item.name }} - {{ 'event.contextual.samemonth'|trans }} - Detail - Titre {{ event.name }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{{ item.name }}</a></h4>
                <div class="square pull-left">
                                   
                      <a data-gaecategory="Lien Image" data-gaelabel="(Col de droite) Item : {{ item.name }} - {{ 'event.contextual.samemonth'|trans }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{% if item.flyer != "" %}<img  alt="" src="{{ ('/assets/flyers/' ~ item.flyer ) | imagine_filter('my_thumb_70') }}">{% else %}<img  alt="" src="{{ ('/assets/flyers/xxxxxnoimage.jpg' ) | imagine_filter('my_thumb_70') }}">{% endif %}</a>
                      
                       
                </div>
                <p data-gaecategory="Texte" data-gaelabel="(Col de droite Date) Item : {{ item.name }} - {{ 'event.contextual.samemonth'|trans }} - Detail - Titre {{ event.name }}">{{ showDateEvent(item) | raw }} </p>
                      
            </div>
       
            {% endfor %}

            <div class="clearfix pull-right">
            <a data-gaecategory="Lien" data-gaelabel="(Col de droite) all events - {{ 'event.contextual.samemonth'|trans }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_allevent_month') }}" class="btn-xs btn btn-default" role="button" >{{'event.contextual.allevent_week'|trans }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </a>
            </div>

  </div>
</div>
{% endif %}
{% if related_place %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title" data-gaecategory="Lien" data-gaelabel="(Col de droite) - {{ 'event.contextual.sameplace'|trans }} - Detail - Titre {{ event.name }}">{{ 'event.contextual.sameplace'|trans }}</h3>
  </div>
  <div class="panel-body">
    {% for item in related_place %}

            <div class="blockquote-box clearfix">
                
                <h4 class="truncate"><a data-gaecategory="Lien" data-gaelabel="(Col de droite) - Item {{ item.name }} - {{ 'event.contextual.sameplace'|trans }} - Detail - Titre {{ event.name }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{{ item.name }}</a></h4>
                <div class="square pull-left">
                                  
                      <a data-gaecategory="Lien Image" data-gaelabel="(Col de droite) - Item {{ item.name }} - {{ 'event.contextual.sameplace'|trans }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_detailevent', {'slug': item.origSlug}) }}">{% if item.flyer != "" %}<img  alt="" src="{{ ('/assets/flyers/' ~ item.flyer ) | imagine_filter('my_thumb_70') }}">{% else %}<img  alt="" src="{{ ('/assets/flyers/xxxxxnoimage.jpg' ) | imagine_filter('my_thumb_70') }}">{% endif %}</a>
                      
                       
                </div>
                <p data-gaecategory="Texte" data-gaelabel="(Col de droite Date) - Item {{ item.name }} - {{ 'event.contextual.sameplace'|trans }} - Detail - Titre {{ event.name }}">{{ showDateEvent(item) | raw }} </p>
                      
            </div>
       
            {% endfor %}

            <div class="clearfix pull-right">
            <a data-gaecategory="Lien" data-gaelabel="(Col de droite) - All events - {{ 'event.contextual.sameplace'|trans }} - Detail - Titre {{ event.name }}" href="{{ path('mdts_allevent_place', {'slug': related_place[0].eventlieu.origSlug}) }}" class="btn-xs btn btn-default" role="button" >{{'event.contextual.allevent_week'|trans }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> </a>
            </div>
  </div>
</div>
{% endif %}




   </div>
</div>
<br>

<div class="clearfix">
    	<div class="pull-left">

        	<a data-gaecategory="Lien" data-gaelabel="Bouton Retour - Detail - Titre {{ event.name }}" data-toggle="tooltip" data-placement="top" title="{{'Afficher tous les évènements'|trans}}" href="{{ path('mdts_allevent') }}" id="download-button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> {{'Retour aux évènements'|trans}} </a>
      	</div>
      	</div>


     <br>
</div>

{% endblock %}
