{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% block title %}{{'hometitle'|trans}}{% endblock %}

{% block body %}
      

    {% if events %}

  

    <div class="page-header">
         
              <h3>Evènements de la semaine ({{events|length}})</h3>
             
      </div> 
   

 

        

        

      
    
    <div class="row">
        {% for item in events %}
          {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
        
         
        </div>
        
        <br>
      {% endif %}

      {% if  events|length <= 0   %}
      <br><div class="alert alert-info" role="alert">{{'Aucun évènement n\'a été enregistré pour l\'instant'|trans}}</div>
      {% endif %}

     
{% endblock %}
