{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% block title %}{{'hometitle'|trans}}{% endblock %}

{% block searchglobal %}
     {% include "mdtshomeBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}


     <div class="row">
     {% if all_local %}
      <div class="col-xs-12 col-sm-8 col-md-8">
     {% else %}
      <div class="col-xs-12 col-sm-12 col-md-12">
      {% endif %}
  {% for type in all_types%}
    <div class="col-xs-12 col-sm-4 col-md-4 center-block text-center"><a data-gaecategory="Rubrique evenements : {{ type.name }}" data-gaelabel="{{ type.name }}" data-gaevalue="" href="{{ path('mdts_allevent_type', {'slug': type.origSlug}) }}" class="btnblock btn-large btn-default"><strong>{{ type.name }}</strong></a></div>
  {% endfor %}
    </div>
    <!-- all_locallength : {{ all_local|length }} -->
    {% if all_local %}
    <div class="col-xs-12 col-sm-4 col-md-4">
     <blockquote>
 
     <h3 data-gaecategory="Entete" data-gaelabel="Fêtes"  class="nomargintop">Fêtes</h3> <ul class="list-unstyled" >
    {% for type in all_local%}
          {% if loop.index0 < 3 %}
          <li >    
           
          <a data-gaecategory="Lien" data-gaelabel="Fêtes - item {{ type.name }}"  href="{{ path('mdts_allevent_local', {'slug': type.origSlug}) }}" class="txt-red-darken-4"><strong><small>{{ type.name }}</small></strong></a>

          </li>
          {%endif%}
           
        {% endfor %}

        {% if all_local|length > 3 %}
          <li ><a data-gaecategory="Lien" data-gaelabel="Fêtes - item ...">...</a></li>
        {%endif%}

        </ul> </blockquote>
    </div>
    {%endif%}

</div>
         {% set nb_event = 0 %}
         {% if articlesrecentsall | length > 0 %}
             {% for item in articlesrecentsall %}
                 {% if loop.index < 20 %}
                     {% if item.events | length > 0 %}
                         {% set nb_event = nb_event+item.events | length %}
                     {% endif %}
                 {% endif %}
             {% endfor %}
         {% endif %}


  
  {# --- Events week begin --- #}  
	{% if events %}

     
 
	 <div class="page-header clearfix">
         <div class="pull-left" >
        <h3  data-gaecategory="Entete" data-gaelabel="{{ d1|localizeddate('medium', 'none',null, null, "d MMM" ) }} au {{ d2|localizeddate('medium', 'none' ,null, null, "d MMM yyyy" ) }}" >{{'Event this week'|trans}} du {{ d1|localizeddate('medium', 'none',null, null, "d MMM" ) }} au {{ d2|localizeddate('medium', 'none' ,null, null, "d MMM yyyy" ) }}</h3>
         </div>
         <div class="pull-right">
             {% include "mdtshomeBundle:Partial:addevent.html.twig"  %}
         </div>
      </div>

         {% include "mdtshomeBundle:Partial:filterpaysregionvillequartier.html.twig" %}

    
    <div class="row">
        {% for item in events %}
            {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item }%}
        {% endfor %}
        
         
        </div>
        <div class="clearfix">
    	<div class="pull-right">
        	<a data-gaecategory="Lien" data-gaelabel="Tous les events - Semaine du {{ d1|localizeddate('medium', 'none',null, null, "d MMM" ) }} au {{ d2|localizeddate('medium', 'none' ,null, null, "d MMM yyyy" ) }}" data-toggle="tooltip" data-placement="top" title="{{'Afficher tous les événements'|trans}}" href="{{ path('mdts_allevent_week') }}" id="download-button" class="btn btn-default">{{'Tous les événements'|trans}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
      	</div>
      	</div>
      	<br>
    {% endif %}
    {# --- Events week end --- #}


  {# --- Events speciaux begin --- #}
         <!-- localevent|length : {{ localevent|length }} -->
    {% if localevent %}
        {# --- S'il y a plus de 4 Events speciaux --- #}
        <!-- localevent|length : {{ localevent|length }} -->
         {% if localevent|length >=4 %}
             <br>

          <div class="row">
             {% for item in localevent %}

                {% if loop.index <= 4 %}
                      <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="thumbnail itemevent relativeposition" >
                              <h4 class="text-center"><a   class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="Tous les Events Local - {{  item.name }}" data-toggle="tooltip" data-placement="bottom" title="{{'Afficher tous les événements ' ~ item.name }}" href="{{ path('mdts_allevent_local', {'slug': item.origSlug}) }}" >{{  item.name }}</a></h4>
                            {# --- Afficher un seul event --- #}
                            {% for item in item.events %}



                                    {% if item.origSlug != "" and loop.index == 1 %}

                                        {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item, nowrap: 1 } %}
                                    {% endif %}
                            {% endfor %}

                        </div>
                    </div>
                {% endif %}

             {% endfor %}

         </div>

         {% elseif localevent|length == 3 %}

             <div class="row">
                 {% for item in localevent %}

                     {% if loop.index <= 4 %}
                         <div class="col-xs-12 col-sm-6 col-md-4">
                             <div class="thumbnail itemevent relativeposition" >
                                 <h4 class="text-center"><a data-gaecategory="Lien" data-gaelabel="Tous les Events Local - {{  item.name }}" data-toggle="tooltip" data-placement="bottom" title="{{'Afficher tous les événements ' ~ item.name }}" href="{{ path('mdts_allevent_local', {'slug': item.origSlug}) }}" >{{  item.name }}</a></h4>
                                 {# --- Afficher un seul event --- #}
                                 {% for item in item.events %}

                                         {% if item.origSlug != "" and loop.index == 1 %}
                                             {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item, nowrap: 1 } %}
                                         {% endif %}

                                 {% endfor %}

                             </div>
                         </div>
                     {% endif %}

                 {% endfor %}

                 {#<div class="col-xs-12 col-sm-6 col-md-3">
                     {% include "mdtshomeBundle:Partial:articleaccueil_local_eq3.html.twig" %}
                 </div>#}


             </div>

         {% elseif localevent|length == 2 %}

             <div class="row">
                 {% for item in localevent %}

                     {% if loop.index <= 4 %}
                         <div class="col-xs-12 col-sm-6 col-md-6">
                             <div class="thumbnail itemevent relativeposition" >
                                 <h4 class="text-center"><a data-gaecategory="Lien" data-gaelabel="Tous les Events Local - {{  item.name }}" data-toggle="tooltip" data-placement="bottom" title="{{'Afficher tous les événements ' ~ item.name }}" href="{{ path('mdts_allevent_local', {'slug': item.origSlug}) }}" >{{  item.name }}</a></h4>
                                 {# --- Afficher un seul event --- #}
                                 {% for item in item.events %}



                                         {% if item.origSlug != "" and loop.index == 1 %}
                                             {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item, nowrap: 1 } %}
                                         {% endif %}

                                 {% endfor %}

                             </div>
                         </div>
                     {% endif %}

                 {% endfor %}

                 {#<div class="col-xs-12 col-sm-6 col-md-6">
                     {% include "mdtshomeBundle:Partial:articleaccueil_local_eq2.html.twig" %}
                 </div>#}
             </div>

         {% else %}

        {% for item in localevent %}

        <div class="page-header clearfix">
         <div class="pull-left">
             <h3 data-gaecategory="Entete" data-gaelabel="Events Local - {{  item.name }}">{{'Evénements'|trans}} &ndash; {{  item.name }} ({{  item.startdate|date("d/m")}})</h3>
         </div>
            <div class="pull-right">
                {% include "mdtshomeBundle:Partial:addevent.html.twig"  %}
            </div>


      </div> 



      <div class="row">

          <!-- item.events|length: {{ item.events|length }} -->

          {% if item.events|length> 0 %}
          {% for item in item.events %}



              {% if item.origSlug != "" and loop.index <= 4 %}
                  {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item } %}
              {% endif %}





          {% endfor %}
          {% endif %}
        
         
        </div> 

          <div class="clearfix">
      <div class="pull-right">
          <a data-gaecategory="Lien" data-gaelabel="Tous les Events Local - {{  item.name }}" data-toggle="tooltip" data-placement="top" title="{{'Afficher tous les événements'|trans}}" href="{{ path('mdts_allevent_local', {'slug': item.origSlug}) }}" id="download-button" class="btn btn-default">{{'Tous les événements'|trans}} - {{ item.name }} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
        </div>
          
        {% endfor %}
         {% endif %}





        <br>
    {% endif %} 
    {# --- Events speciaux end --- #}
         <!-- Events speciaux end -->



         <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
         <!-- horizontal -->
         <ins class="adsbygoogle"
              style="display:block"
              data-ad-client="ca-pub-0184608766708661"
              data-ad-slot="4367948287"
              data-ad-format="auto"
              data-full-width-responsive="true"></ins>
         <script>
             (adsbygoogle = window.adsbygoogle || []).push({});
         </script>

     
     
    {# --- Events Month begin --- #}
    {% if nextevents %}


 
   <div class="page-header clearfix">

        <h3 data-gaecategory="Entete" data-gaelabel="Events -  ">{{'Evénements '|trans}} {{ MonthNextEvent  }} </h3>


      </div> 
    
    <div class="row">
      {% if nextevents is defined %}
        {% for item in nextevents %}
          {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item } %}
        {% endfor %}
      {% endif %}  
         
        </div>
        <div class="clearfix">
      <div class="pull-right">
          <a data-gaecategory="Lien" data-gaelabel="Tous les events -  " data-toggle="tooltip" data-placement="top" title="{{'Afficher tous les événements'|trans}}" href="{{ path('mdts_allevent_month') }}" id="download-button" class="btn btn-default">{{'Tous les événements'|trans}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
        </div>
        <br>
    {% endif %}	
    {# --- Events Month end --- #}

    


      {% if  events|length <= 0 and localevent|length  <=0 and nextevents|length  <=0 and allevents|length > 0 %}
        <div class="page-header">
        <h3 data-gaecategory="Entete" data-gaelabel="Derniers événements enregistrés">{{'Derniers événements enregistrés'|trans}}</h3>
      </div> 
    
    <div class="row">
        {% for item in allevents %}
           {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item }%}
        {% endfor %}
        
         
        </div>
        <div class="clearfix">
      <div class="pull-right">
          <a data-gaecategory="Lien" data-gaelabel="Tous les derniers événements enregistrés" data-toggle="tooltip" data-placement="top" title="{{'Afficher tous les événements'|trans}}" href="{{ path('mdts_allevent') }}" id="download-button" class="btn btn-default">{{'Tous les événements'|trans}} <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
        </div>
        </div>
        <br>
      {% endif %}
      
      {# Articles #}
         {#{% include "mdtshomeBundle:Partial:articleaccueil.html.twig" %}#}

      {% if  events|length <= 0 and localevent|length  <=0 and nextevents|length  <=0  and allevents|length <= 0 %}
      <br><div  data-gaecategory="Texte" data-gaelabel="Aucun event" class="alert alert-info" role="alert">{{'Aucun événement n\'a été enregistré pour l\'instant'|trans}}</div>
      {% endif %}
 

<br>
{% endblock %}
