{# Evenements de la semaine #}
{% if events|length > 0 %}
    <div class="row data-liste">
        {% for item in events %}
                {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Pagination #}
{% if events|length > 0 %}
        {% include "mdtshomeBundle:Partial:paginationrecherche.html.twig" %}
{% endif %}

{# Si Evenements vides #}
{% if  events|length <= 0 %}
    {% include "mdtshomeBundle:Partial:norecherche.html.twig" %}
{% endif %}