{# -------------- begin header ------------------ #}
<div class="page-header">
    <div class="row">
        <div class="col-xs-12 col-sm-8 col-md-8">
            <h3 >
                {% if photo is defined and photo is not empty and file_exists(asset('assets/artistes_orig/'~photo ))%}
                    <img data-gaecategory="Image" data-gaelabel="Events - {{ titre }}" class="circle-image" src="{{ asset('assets/artistes_orig/'~photo )  | imagine_filter('my_thumb_70') }}" alt="" />
                {% endif %}
                <span data-gaecategory="Entete" data-gaelabel="Events - {{ titre }}">{{ titre }}</span>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3">
            {% include "mdtshomeBundle:Partial:addevent.html.twig"  %}<br /><br />
            {% if type == 'alleventtypeAction' %}
                {% set titre = 'event.contextual.sametype'|trans %}
                <a  data-gaecategory="Lien" data-gaelabel="Events - {{'event.archives.allevent_type'|trans }}" href="{{ path('mdts_allevent_type_archives', {'slug': slug}) }}"   >{{'event.archives.allevent_type'|trans }} </a>
            {% elseif type == 'alleventplaceAction' %}
                <a data-gaecategory="Lien" data-gaelabel="Events - {{'event.archives.allevent_place'|trans({'%place%': slug|getlieuevent}) }}" href="{{ path('mdts_allevent_place_archives', {'slug': slug}) }}"  >{{'event.archives.allevent_place'|trans({'%place%': slug|getlieuevent}) }} </a>
            {% endif %}
        </div>
    </div>
</div>
{# -------------- end header ------------------ #}
{% if slug is defined %}
    {% include "mdtshomeBundle:Partial:filterpaysregionvillequartier_slug.html.twig" %}
{% endif %}

{% if slug is not defined %}
    {% include "mdtshomeBundle:Partial:filterpaysregionvillequartier.html.twig" %}
{% endif %}

<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- horizontal -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-0184608766708661"
     data-ad-slot="4367948287"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
    (adsbygoogle = window.adsbygoogle || []).push({});
</script>

{# Evenements de la semaine #}
{% if events|length > 0 %}
    <div class="row data-liste">
        {% for item in events %}
                {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Si Evenements de la semaine vide et tous les évenements existent #}
{% if events|length <= 0 and allevents|length>0 %}
    <div class="row data-liste">
        {% for item in allevents %}
            {% include "mdtshomeBundle:Partial:itemevent.html.twig" with { item: item  }%}
        {% endfor %}
    </div>
{% endif %}

{# Pagination #}
{% if events|length > 0 or allevents|length>0 %}
    {% include "mdtshomeBundle:Partial:pagination.html.twig" %}
{% endif %}

{# Si Evenements vides #}
{% if  events|length <= 0 and allevents|length<=0 %}
    {% include "mdtshomeBundle:Partial:noevent.html.twig" %}
{% endif %}