{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% set titre = "Recherche - Madatsara "|trans  %}

{% block title %}{{ titre }} - Madatsara{% endblock %}
{% block ogtitle %}{{ titre }} - Madatsara{% endblock %}
{% block twittertitle %}{{ titre }} - Madatsara{% endblock %}
{% block itempropname %}{{ titre }} - Madatsara{% endblock %}

{% block metadesc %}{{ titre }} - Madatsara{% endblock %}
{% block metaogdesc %}{{ titre }} - Madatsara{% endblock %}
{% block metatwitterdesc %}{{ titre }} - Madatsara{% endblock %}
{% block metaitempropdesc %}{{ titre }} - Madatsara{% endblock %}


{% block searchglobal %}
     {% include "mdtshomeBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}
{% block body %}
    {# On est dans un context AJAX #}
    {% if app.request.xmlHttpRequest == true %}
        {% include "mdtshomeBundle:Default:ajaxrechercheevenements.html.twig"  %}
    {% endif %}

    {# On est dans un context normal #}
    {% if app.request.xmlHttpRequest == false %}
        {% include "mdtshomeBundle:Default:normalrechercheevenements.html.twig"  %}
    {% endif %}
{% endblock %}
