{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
{% spaceless %}
    <div class="vich-file">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
        {{ form_row(form.delete) }}
        {% endif %}

        {% if download_uri is defined and download_uri %}
        <a  target="_blank" class="btn btn-default" href="{{ download_uri }}"><em class="fa fa-download"></em> {{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
{% spaceless %}
    <div class="vich-image thumbnails">
        {{ form_widget(form.file) }}
        {% if form.delete is defined %}
        {{ form_row(form.delete) }}
        {% endif %}

        {% if download_uri is defined and download_uri %}
         <div class="text-center center-block"><a  target="_blank" href="{{ download_uri }}"><img id="mainflyer"  src="{{ download_uri  }}" height="200" class="img-responsive" alt="" /></a></div>
        {% endif %}
        {% if show_download_link and download_uri is defined and download_uri%}
        <br><a class="btn btn-default" target="_blank" href="{{ download_uri  }}"><em class="fa fa-download"></em>{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}
    </div>
{% endspaceless %}
{% endblock %}