{# app/Resources/views/blog/index.html.twig #}
{% extends app.request.query.get("iframe") == 1  or app.session.get('iframe') == 1 ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}


{% block title %}Modification Article de la presse{% endblock %}

{% block before_javascripts %}
    <script>
        var json_event = JSON.parse('{{ event | raw }}');
        var json_artiste = JSON.parse('{{ artiste | raw }}');
    </script>

{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block searchglobal %}
    {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}
{% endblock %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Article de la presse
            <small>Edition</small>
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Info</h3>
                    </div>

                    <!-- /.box-header -->
                    <!-- form start -->

                    {{ form_start(edit_form, {'attr': {'role': 'form'}}) }}

                    <div class="box-body">
                        {# Aucune erreur lors de la creation #}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="icon fa fa-check"></i> {{ flashMessage }}
                            </div>
                        {% endfor %}

                        {# Si erreur lors de la creation #}
                        {% for flashMessage in app.session.flashbag.get('warning') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="icon fa fa-ban"></i> {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            {{ form_label(edit_form.url, 'Url' ) }}
                            {{ form_widget(edit_form.url, {'attr': { 'class': 'form-control'}}) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(edit_form.event, 'Evénements' ) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <select id="select_mdts_homebundle_event"  class="select2_event_inarticle form-control" multiple="multiple"><option value="">Choisir</option></select>
                                    {{ form_widget(edit_form.event ) }}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                  
                          <div class="checkbox">
                            {{ form_widget(edit_form.addartistes_inevent, {'attr': {  'class': 'styled'}}) }}
                            {{ form_label(edit_form.addartistes_inevent, 'Ajouter à tous les artistes dans les événements' ) }}
                          </div> 
                      </div>
                        <div class="form-group">
                            {{ form_label(edit_form.artiste, 'Artiste' ) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <select id="select_mdts_homebundle_artiste"  class="select2_artiste form-control" multiple="multiple"><option value="">Choisir</option></select>
                                    {{ form_widget(edit_form.artiste ) }}
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">

                        <a class="btn btn-default" href="{{ path('admin_articlesevent') }}">
                            <i class="icon fa fa-chevron-left"></i> Retour
                        </a>
                        {{ form_widget(edit_form.submit, {'label': 'Enregistrer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                    </div>


                    <div class="hidden">
                        {{ form_rest(edit_form) }}
                    </div>
                    {{ form_end(edit_form) }}

                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock %}
