{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% form_theme form_nl _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-warning" role="alert">
                {% for error in errors %}
                    - {{ error.message }}<br>
                {% endfor %}
            </div>

        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}




{% block title %}{{'Inscription Newsletter'|trans}} - Madatsara{% endblock %}

{% block oneSignalSendtags %}

    {# FE User Id #}
    {% if return.ok is defined and return.ok > 0%}

        OneSignal.sendTags({
        user_id_nl: "{{ return.ok }}"
        }).then(function(tagsSent) {

        });

    {% endif %}



{% endblock %}

{% block body %}
    <h2>{{'Inscription Newsletter'|trans}}</h2>

    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">


            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <strong>Info</strong> - {{ flashMessage }}
                </div>
            {% endfor %}

            <p>Recevez dans votre email chaque semaine les nouveaux événements.</p>
            {{ form_start(form_nl, { 'attr': {'class': 'form-vertical'}}) }}

            {# Les erreurs générales du formulaire. #}
            {{ form_errors(form_nl) }}

            <div class="form-group">

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form_nl.email) }}
                <div class="input-group">
                    <span class="input-group-addon">@</span>
                    {# Génération de l'input. #}
                    {{ form_widget(form_nl.email, {'attr': {'placeholder' : 'Votre adresse email','class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group">

                {{ form_widget(form_nl.save, {'label': 'S\'inscrire'|trans , 'attr': {'value' : 'S\'inscrire' ,'class': 'btn btn-primary'}}) }}

            </div>
            {{ form_widget(form_nl.source,{'value' : 'suscribepage'}) }}
            {{ form_rest(form_nl) }}
            {{ form_end(form_nl) }}


        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">
            {% include "mdtshomeBundle:Partial:sidebargenerique.html.twig" %}
        </div>
    </div>
{% endblock %}
