<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block metadesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}{{'hometitle'|trans}}{% endblock %}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{% block ogimage %}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{% endblock %}" />
    <meta property="og:site_name" content="&#124;&nbsp;Madatsara" />
    <meta property="og:description" content="{% block metaogdesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="823705647" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="verify-v1" content="k8rL7/Zq2pa966Zh+/p1Gnw2lQxglkApa4IRYrXplW4=" />
    
  
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@madatsara" />
    <meta name="twitter:url" content="{{ app.request.uri }}" /> 
    <meta name="twitter:title" content="{% block twittertitle %}{{'hometitle'|trans}}{% endblock %}" />
    <meta name="twitter:description" content="{% block metatwitterdesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}" />
    <meta name="twitter:image" content="{% block twitterropimage %}{{"//" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{% endblock %}" />
    
    <meta itemprop="name" content="{% block itempropname %}{{'hometitle'|trans}}{% endblock %}" />
    <meta itemprop="description" content="{% block metaitempropdesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}" />
    <meta itemprop="image" content="{% block itempropimage %}{{"//" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{% endblock %}" />
    <meta itemprop="thumbnailUrl" content="http://www.madatsara.com/uploads/media/0" />
      <meta name="theme-color" content="#B71C1C">
    <meta name="author" content="">

      <link rel="manifest" href="{{ asset('manifest.json') }}">
      <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async></script>
      <script>
          var OneSignal = window.OneSignal || [];
          OneSignal.push(["init", {
              appId: "{{ api_onesignal }}",

              {% if app.request.cookies.has('mts_box_newsletter') == false %}
              autoRegister: false,
              notifyButton: {
                  enable: true /* Set to false to hide */,
                  showCredit: false,
                  text: {
                      'tip.state.unsubscribed': '{{ 'onesignal.tip.state.unsubscribed'|trans }}',
                      'tip.state.subscribed': "{{ 'onesignal.tip.state.subscribed'|trans }}",
                      'tip.state.blocked': "{{ 'onesignal.tip.state.blocked'|trans }}",
                      'message.prenotify': "{{ 'onesignal.tip.state.blocked'|trans }}",
                      'message.action.subscribed': "{{ 'onesignal.tip.state.blocked'|trans }}",
                      'message.action.resubscribed': "{{ 'onesignal.tip.state.subscribed'|trans }}",
                      'message.action.unsubscribed': "{{ 'onesignal.tip.state.unsubscribed'|trans }}",
                      'dialog.main.title': "{{ 'onesignal.dialog.main.title'|trans }}",
                      'dialog.main.button.subscribe': "{{ 'onesignal.dialog.main.button.subscribe'|trans }}",
                      'dialog.main.button.unsubscribe': "{{ 'onesignal.dialog.main.button.unsubscribe'|trans }}",
                      'dialog.blocked.title': "{{ 'onesignal.dialog.blocked.title'|trans }}",
                      'dialog.blocked.message': "{{ 'onesignal.dialog.blocked.message'|trans }}"
                  }
              } ,
              {% else %}
              autoRegister: true,
              promptOptions: {
                  /* These prompt options values configure both the HTTP prompt and the HTTP popup. */
                  /* actionMessage limited to 90 characters */
                  actionMessage: "{{ 'onesignal.actionMessage'|trans }}",
                  /* acceptButtonText limited to 15 characters */
                  acceptButtonText: "{{ 'onesignal.acceptButtonText'|trans }}",
                  /* cancelButtonText limited to 15 characters */
                  cancelButtonText: "{{ 'onesignal.cancelButtonText'|trans }}"
              },
              {% endif %}
              welcomeNotification: {
                  "title": "{{ 'onesignal.welcomeNotification.title'|trans }}",
                  "message": "{{ 'onesignal.message.action.subscribed'|trans }}",
                  // "url": "" /* Leave commented for the notification to not open a window on Chrome and Firefox (on Safari, it opens to your webpage) */
              },
              webhooks: {
                  cors: false, // Defaults to false if omitted
                  'notification.displayed': "https://{{ host }}/rest/savenotifs", // e.g. https://site.com/hook
                  'notification.clicked': "https://{{ host }}/rest/savenotifs",
                  'notification.dismissed': "https://{{ host }}/rest/savenotifs",
              }
          }]);

          OneSignal.push(function() {
              {% block oneSignalSendtags %}

              {% endblock %}
          });

      </script>

      <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
            integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
            crossorigin=""/>
      <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
              integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
              crossorigin=""></script>

    <link rel="icon" href="favicon.ico">
    <link type="text/plain" rel="author" href="humans.txt">

        <title>{% block title %}{{'hometitle'|trans}}{% endblock %}</title>

          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/Yamm3/yamm/yamm.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/map-icons/dist/css/map-icons.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('dev/css/plugin/awesome-bootstrap-checkbox.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('dev/css/plugin/cookiecontent.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('dev/css/custom.css') }}"  media="screen,projection"/>

      {% block stylesheets %}{% endblock %}

      <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

      <!-- Matomo -->
      <script>
          var _paq = window._paq = window._paq || [];
          /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
          _paq.push(['trackPageView']);
          _paq.push(['enableLinkTracking']);
          (function() {
              var u="//matomo.miary.dev/";
              _paq.push(['setTrackerUrl', u+'matomo.php']);
              _paq.push(['setSiteId', '8']);
              var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
              g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
          })();
      </script>
      <!-- End Matomo Code -->

      <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <script>
          (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-0184608766708661",
              enable_page_level_ads: true
          });
      </script>

    </head>

    <body role="document">

 
<!-- End Google Tag Manager -->
     <!-- Fixed navbar -->
    <nav class="yamm navbar navbar-default navbar-fixed-top red-darken-4">
      <div class="container">
        <div class="navbar-header">
          <button data-gaecategory="Bouton responsive hamburger" data-gaelabel="" data-gaevalue="" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">{{ 'Toggle navigation'|trans }}</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a data-gaecategory="Lien" data-gaelabel="Logo Accueil" class="navbar-brand" href="{{ path('mdtshome_homepage') }}" id="logo-container"><span >Madatsara</span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">

        
           
          <ul class="nav navbar-nav navbar-right">
              <!-- Forms -->
            
            
            <li><a data-gaecategory="Lien" data-gaelabel="Barre Nav Contact" href="{{ path('mts_contact') }}">{{'Contact'|trans}}</a></li>
            <li class="dropdown"><a  data-toggle="dropdown" class="dropdown-toggle" data-gaecategory="Lien" data-gaelabel="Barre Nav Autres réalisations" href="javascript:;">{{'Autres réalisations'|trans}} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <div class="yamm-content">
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                  <a data-gaecategory="Lien" data-gaelabel="Plateforme COVID19mg" href="https://covid19mg.madatsara.com?utm_source=Madatsara&utm_medium=navigation-logo" target="_blank">
                                      <img src="{{ asset('assets/img/covid19mg-madatsara-com.jpg')  | imagine_filter('my_thumb_70')  }}" class="img-responsive">
                                  </a>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <h4 data-gaecategory="Entete" data-gaelabel="COVID19mg App" >
                                        <a class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="Plateforme COVID19mg" href="https://covid19mg.madatsara.com?utm_source=Madatsara&utm_medium=navigation" target="_blank">Plateforme COVID19mg Madagascar</a>
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                  <a data-gaecategory="Lien" data-gaelabel="Elections 2018-2019" href="https://elections-mg.madatsara.com/" target="_blank">
                                      <img src="{{ asset('assets/img/elections-2018-2019.jpg')  | imagine_filter('my_thumb_70')  }}" class="img-responsive">
                                  </a>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <h4 data-gaecategory="Entete" data-gaelabel="Elections 2018-2019" >
                                        <a class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="Elections 2018-2019" href="https://elections-mg.madatsara.com/" target="_blank">Elections 2018-2019</a>
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                  <a data-gaecategory="Lien" data-gaelabel="Appli Comparer candidats" href="http://presidentielles2013.madatsara.com/" target="_blank">
                                      <img src="{{ asset('assets/img/comparer.jpg')  | imagine_filter('my_thumb_70')  }}" class="img-responsive">
                                  </a>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <h4 data-gaecategory="Entete" data-gaelabel="Appli Comparer candidats" >
                                        <a class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="Appli Comparer candidats" href="http://presidentielles2013.madatsara.com/" target="_blank">Comparer les programmes des candidats</a>
                                    </h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                  <a  data-gaecategory="Lien" data-gaelabel="Appli Résultat 1er tour" href="http://presidentielles2013-1er-tour.madatsara.com/" target="_blank"><img src="{{ asset('assets/img/1ertour.jpg')  | imagine_filter('my_thumb_70') }}" class="img-responsive"></a>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">  
                                  <h4 data-gaecategory="Entete" data-gaelabel="Appli Résultat 1er tour">
                                      <a  class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="Appli Résultat 1er tour" href="http://presidentielles2013-1er-tour.madatsara.com/" target="_blank">Résultat 1er tour élections présidentielles 2013</a>
                                  </h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                  <a   data-gaecategory="Lien" data-gaelabel="Appli Résultat 1er tour legislatives" href="http://elections-2013.madatsara.com/index.php/legislatives" target="_blank"><img src="{{ asset('assets/img/legislatives.jpg')  | imagine_filter('my_thumb_70') }}" class="img-responsive"></a>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <h4 data-gaecategory="Entete" data-gaelabel="Appli Résultat 1er tour legislatives">
                                        <a class="txt-red-darken-4"   data-gaecategory="Lien" data-gaelabel="Appli Résultat 1er tour legislatives" href="http://elections-2013.madatsara.com/index.php/legislatives" target="_blank">Résultat 1er tour élections législatives 2013</a></h4>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-xs-2 col-sm-2 col-md-2">
                                  <a   data-gaecategory="Lien" data-gaelabel="Appli Résultat 2è tour"  href="http://elections-2013.madatsara.com/" target="_blank"><img src="{{ asset('assets/img/2emetour.jpg')  | imagine_filter('my_thumb_70') }}" class="img-responsive"></a>
                                </div>
                                <div class="col-xs-10 col-sm-10 col-md-10">
                                    <h4 data-gaecategory="Entete" data-gaelabel="Appli Résultat 2è tour">
                                        <a class="txt-red-darken-4"   data-gaecategory="Lien" data-gaelabel="Appli Résultat 2è tour"  href="http://elections-2013.madatsara.com/" target="_blank">Résultat 2ème tour élections présidentielles 2013</a>
                                    </h4>
                                </div>
                            </div>
                        </div>    
                    </li>
                </ul>
            </li>
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                  <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{'Mon compte'|trans}}<b class="caret"></b></a>
                      <ul class="dropdown-menu">
                          <li>
                              <a  href="{{ path('fos_user_security_logout') }}">
                                  {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                              </a>
                          </li>
                          <li>
                              <a  href="{{ path('mdts_frontendB_eventC_addeventA' ) }}">
                                  {{'Ajouter un événement'|trans}}
                              </a>
                          </li>
                          </ul>
                  </li>
              {% else %}
              <li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">{{'Login'|trans}}<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li>
                    <div class="yamm-content">
                      
                      <a class="btn btn-block btn-social btn-facebook" href="{{ hwi_oauth_login_url('facebook') }}">
                        <span class="fa fa-twitter"></span> {{'Se connecter avec Facebook'|trans}}
                      </a><br>
                      <!--a class="btn btn-block btn-social btn-twitter">
                        <span class="fa fa-twitter"></span> Sign in with Twitter
                      </a><br>-->
                      <a class="btn btn-block btn-social btn-google" href="{{ hwi_oauth_login_url('google') }}">
                        <span class="fa fa-google"></span> {{'Se connecter avec Google'|trans}}
                      </a>

                    </div>
                  </li>
                </ul>
              </li>
              {% endif %}
              
            </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    <div class="container " >

    <div class="page-header" style="-webkit-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.5);
-moz-box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.5);
box-shadow: 2px 3px 10px -1px rgba(0,0,0,0.5);border-radius: 4px;padding:1rem; ">
        <div >
            <p data-gaecategory="Entete" data-gaelabel="COVID19mg App" style="text-align: center;">
                <a class="txt-red-darken-4" data-gaecategory="Lien" data-gaelabel="Plateforme COVID19mg" href="https://covid19mg.madatsara.com?utm_source=Madatsara&utm_medium=main" target="_blank">Plateforme multilingue sur le COVID19mg à Madagascar</a>
            </p>
        </div>
    </div>

    {% block searchglobal %}{% endblock %}
    
  {% block body %}{% endblock %}
    <!--
    <hr>
    <h3>Applis Web</h3>
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3">
        <h4 data-gaecategory="Entete" data-gaelabel="Appli Comparer candidats" >Comparer les programmes des candidats</h4>
        <a  data-gaecategory="Lien" data-gaelabel="Appli Comparer candidats" href="http://presidentielles2013.madatsara.com/" target="_blank"><img src="{{ asset('assets/img/comparer.jpg') }}" class="img-responsive"></a>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <h4 data-gaecategory="Entete" data-gaelabel="Appli Résultat 1er tour">Résultat 1er tour élections présidentielles 2013</h4>
        <a  data-gaecategory="Lien" data-gaelabel="Appli Résultat 1er tour" href="http://presidentielles2013-1er-tour.madatsara.com/" target="_blank"><img src="{{ asset('assets/img/1ertour.jpg') }}" class="img-responsive"></a>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <h4 data-gaecategory="Entete" data-gaelabel="Appli Résultat 1er tour legislatives">Résultat 1er tour élections législatives 2013</h4>
        <a   data-gaecategory="Lien" data-gaelabel="Appli Résultat 1er tour legislatives" href="http://elections-2013.madatsara.com/index.php/legislatives" target="_blank"><img src="{{ asset('assets/img/legislatives.jpg') }}" class="img-responsive"></a>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3">
        <h4 data-gaecategory="Entete" data-gaelabel="Appli Résultat 2è tour">Résultat 2ème tour élections présidentielles 2013</h4>
        <a   data-gaecategory="Lien" data-gaelabel="Appli Résultat 2è tour"  href="http://elections-2013.madatsara.com/" target="_blank"><img src="{{ asset('assets/img/2emetour.jpg') }}" class="img-responsive"></a>
      </div>
    </div><br>
    -->
  
    </div> <!-- /container -->

    <footer class="footer">
      <div class="container">
      <div class="clearfix">
        <div class="pull-left">
          <p class="text-muted">{{ "now"|date("Y") }} <a  data-gaecategory="Lien" data-gaelabel="Footer (c) Madatsara" href="//madatsara.com">Madatsara</a></p>
          </div>
          <div class="pull-right">
            <div class="col-md-12">
                    <ul class="text-muted social-network social-circle">
                        <li>Nous suivre : </li>
                        <li><a data-gaecategory="Lien" data-gaelabel="Footer Facebook" href="//facebook.com/madatsara" target="_blank" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a  data-gaecategory="Lien" data-gaelabel="Footer Twitter" href="//twitter.com/madatsara" target="_blank" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a  data-gaecategory="Lien" data-gaelabel="Footer Google+" href="//plus.google.com/u/0/+MadatsaraMadatsara" target="_blank" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a  data-gaecategory="Lien" data-gaelabel="Footer Instagram" href="//instagram.com/madatsara" target="_blank" class="icoInstagram" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                        <li><a  data-gaecategory="Lien" data-gaelabel="Footer Youtube" href="//www.youtube.com/channel/UCxkbKg0FkZBSi3v8fvgTP0A/videos" target="_blank" class="icoYoutube" title="Youtube"><i class="fa fa-youtube"></i></a></li>
                        <li><a  data-gaecategory="Lien" data-gaelabel="Footer Pinterest" href="//pinterest.com/madatsara" target="_blank" class="icoPinterest" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
                    </ul>       
        </div>
          </div>
        </div>
      </div>

    </footer>


   
    
        
      <script>
    window.cookieconsent_options = {
        message: 'En poursuivant votre navigation sur ce site, vous acceptez l’utilisation de cookies à des fins statistiques.',
        dismiss: 'Fermer',
        theme: 'local.css'
    }
</script>



      <script type="text/javascript" src="{{ asset('bower_components/jquery/dist/jquery.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/moment/min/moment-with-locales.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/bootstrap/dist/js/bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/bootstrap-select/dist/js/bootstrap-select.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/jquery_lazyload/jquery.lazyload.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/jasny-bootstrap/dist/js/jasny-bootstrap.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/gmaps/gmaps.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('bower_components/lory/dist/lory.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('dev/js/plugin/bootbox.min.js') }}"></script>
      <script type="text/javascript" src="{{ asset('dev/js/analytics.js') }}"></script>
      <script type="text/javascript" src="{{ asset('dev/js/custom.js') }}"></script>

      {% block javascripts %}{% endblock %}

    </body>
  </html>
