{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascripts %}
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<script src="{{ asset('bower_components/rrule/lib/rrule.js') }}"></script>
<script src="{{ asset('bower_components/rrule/lib/nlp.js') }}"></script>
<script src="{{ asset('bower_components/rrule/tests/demo/demo.js') }}"></script>
{% endblock %}

{% block stylesheets %}
 
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Events speciaux
        <small>Modifier</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    <!-- Main content -->
    {% include "mdtshomeBundle:EventLocal:form_add_edit.html.twig"  with { form: edit_form, option: "edit" } %}
    <!-- /.content -->
{% endblock %}
