<section class="content">
    <div class="row">
        <!-- left column -->
        <div class="col-md-12">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Info</h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->
                {{ form_start(form, {'attr': {'role': 'form'}}) }}

                <div class="box-body">
                    {# Aucune erreur lors de la creation #}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="icon fa fa-check"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {# Si erreur lors de la creation #}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="icon fa fa-ban"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    <div class="form-group">
                        {{ form_label(form.name, 'Nom' ) }}
                        {{ form_widget(form.name, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            {{ form_widget(form.hidden) }}
                            {{ form_label(form.hidden, "Caché"  ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            {{ form_widget(form.eventgrouped , {'attr': { 'class': 'styled'}}) }}
                            {{ form_label(form.eventgrouped, "Groupe d'événement"  ) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.startdate, "Date unique", {'label_attr': { 'class': 'lbl_unique'}} ) }}
                        {{ form_label(form.startdate, "Date début", {'label_attr': { 'class': 'lbl_debut hidden'}} ) }}
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>{{ form_widget(form.startdate, {'attr': {'data-mask':'data-mask','data-inputmask':'"\'alias\': \'dd/mm/yyyy\'"', 'class': 'datamask form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <input class="styled" type="checkbox" id="chk_enddate"><label for="chk_enddate"> Date de fin?</label>
                        </div>
                    </div>
                    <div class="form-group blockdatefin hidden">
                        {{ form_label(form.enddate, ' ' ) }}
                        <div class="input-group">
                            <div class="input-group-addon">
                                <i class="fa fa-calendar"></i>
                            </div>{{ form_widget(form.enddate, {'attr': {'data-mask':'data-mask','data-inputmask':'"\'alias\': \'dd/mm/yyyy\'"', 'class': 'datamask form-control'}}) }}</div>
                    </div>

                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Afficher sur la page d'accueil
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body">

                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form_label(form.startdateHome, "Date début"  ) }}
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>{{ form_widget(form.startdateHome, {'attr': {'data-mask':'data-mask','data-inputmask':'"\'alias\': \'dd/mm/yyyy\'"', 'class': 'datamask form-control'}}) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                {{ form_label(form.enddateHome, ' Date fin ' ) }}
                                                <div class="input-group">
                                                    <div class="input-group-addon">
                                                        <i class="fa fa-calendar"></i>
                                                    </div>{{ form_widget(form.enddateHome, {'attr': {'data-mask':'data-mask','data-inputmask':'"\'alias\': \'dd/mm/yyyy\'"', 'class': 'datamask form-control'}}) }}</div>
                                            </div>
                                        </div>
                                    </div>





                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.parent, 'Evénement parent' ) }}
                        {{ form_widget(form.parent, {'attr': { 'class': 's2-parent-event-local  form-control'}}) }}

                    </div>





                </div>
                <!-- /.box-body -->




                <div class="box-footer">

                    <a class="btn btn-default" href="{{ path('admin_eventlocal') }}">
                        <i class="icon fa fa-chevron-left"></i> Retour
                    </a>
                    {{ form_widget(form.submit, {'label': 'Enregistrer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                </div>


                {{ form_rest(form) }}
                {{ form_end(form) }}

                {% include "mdtsBackendBundle:Partial:rrule.html.twig"  %}


            </div>
            <!-- /.box -->
        </div>
    </div>

</section>