{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <h3>Créer un compte via les réseaux sociaux.</h3>
    <div class="row">
        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <a class="btn btn-lg btn-social btn-facebook btn-default" href="{{ hwi_oauth_login_url('facebook') }}">
                <span class="fa fa-facebook"></span> Facebook
            </a>
        </div>

        <div class="col-md-6 col-lg-6 col-sm-6 col-xs-6">
            <a class="btn btn-lg btn-social btn-google btn-default" href="{{ hwi_oauth_login_url('google') }}">
                <span class="fa fa-google"></span> Google+
            </a>
        </div>

    </div>
    <div class="row omb_row-sm-offset-3 omb_loginOr">
        <div class="col-xs-12 col-sm-12">
            <hr class="omb_hrOr">
            <span class="omb_spanOr">ou</span>
        </div>
    </div>
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'form-horizontal'}}) }}
    <div  class="form-group">
        <div class="input-field col s12">
            <span  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                {{ form_widget(form.username, {'attr': {'placeholder': 'Nom d\'utilisateur (adresse email)', 'class': 'form-control'}}) }}
            </span>
        </div>
        {{ form_errors(form.username, {'attr': { 'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        <div class="input-field col s12">
            <span  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                {{ form_widget(form.email, {'attr': {'placeholder': 'Adresse email', 'class': 'form-control'}}) }}
                </span>
        </div>
        {{ form_errors(form.email) }}
    </div>
    <div class="form-group">
        <div class="input-field col s12">
            <span  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.plainPassword.first, {'attr': {'placeholder': 'Mot de passe','class': 'form-control'}}) }}
                </span>
        </div>
        {{ form_errors(form.plainPassword.first) }}
    </div>
    <div class="form-group">
        <div class="input-field col s12">
            <span  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    {{ form_widget(form.plainPassword.second, {'attr': {'placeholder': 'Confirmer le mot de passe','class': 'form-control'}}) }}
                </span>
        </div>
        {{ form_errors(form.plainPassword.second) }}
    </div>
    <div class="form-group">
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default"><i class="icon fa fa-chevron-left"></i> Retour formulaire de connexion</a>
        <button class="btn btn-primary" type="submit" name="action">
            <i class="fa fa-send"></i>
            {{ 'registration.submit'|trans }}
        </button>
    </div>
<div>

</div>
{{ form_end(form) }}
    </div>
