{% extends 'mdtsBackendBundle::base.html.twig' %}

{# themes form et bouton de recherche #}
{% form_theme filter_form _self %}
{% block button_widget %}
    {% set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) %}
    {% if label is empty -%}
        {% if label_format is not empty %}
            {% set label = label_format|replace({
                '%name%': name,
                '%id%': id,
            }) %}
        {% else %}
            {% set label = name|humanize %}
        {% endif %}
    {% endif %}
    <button type="{{ type|default('button') }}" {{ block('button_attributes') }}>{{ label|trans({}, translation_domain)|raw }}</button>
{% endblock button_widget %}
 
{# <title></title> #}
{% block title %}[MADATSARA Admin] - Fêtes et événements spéciaux{% endblock %}

{# JS Footer #}
{% block javascripts %}
{% endblock %}

{# CSS Header #}
{% block stylesheets %}
 
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}
    <section class="content-header">
      <h1>
        Devises
        <small>liste</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
          {{ form_start(filter_form, {'attr': {'id': 'filterformevent'}} ) }}
              

            <div class="box-header with-border">
              <div class="row">
                <div class="col-md-6">
                  <h3 class="box-title">Info</h3>
                </div>
                <div class="col-md-6">
                  <div class="box-tools">

                    <div class="row">
                      
                      <div class="col-md-12">
                        <div class="input-group input-group-sm" >
                           
                          {{ form_widget(filter_form.query, {'attr': { 'placeholder' : 'Chercher', 'class': 'form-control pull-right'}}) }}

                          <div class="input-group-btn">
                             
                            {{ form_widget(filter_form.submit, {'label': '<i class="fa fa-search"></i>', 'attr': { 'value' : 'Envoyer' ,'class': 'btn btn-default'}}) }}
                            <a href="{{ path('admin_devises') }}" class="btn btn-default btn"><i class="fa fa-refresh"></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
             
            
            </div>


              {{ form_end(filter_form) }}

            <div class="box-body table-responsive ">

             {% if entities|length == 0 %}
                <div class="alert alert-info alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-info"></i> Aucune entité trouvée.
                </div>
             {%endif%}

             {# Aucune erreur lors de la creation #}
              {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-check"></i> {{ flashMessage }}
                </div>
              {% endfor %}

              {# Si erreur lors de la creation #}
              {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-ban"></i> {{ flashMessage }}
                </div>
              {% endfor %}

                {{ form_start(idsForm, {'attr': {'role': 'form'}}) }}
              <div class="clearfix">
                <div class="pull-left">             
                  <a  class="btn btn-md btn-default" href="{{ path('admin_devises_new') }}">
                    <i class="icon fa fa-plus"></i> Créer
                  </a>
               </div>
               <div class="pull-right">             
                  <a  class="btnall btncopy btn btn-md btn-default" href="javascript:;">
                    <i class="icon fa fa-copy"></i> Dupliquer
                  </a>

                  <a  class="btnall btndelete btn btn-md btn-danger" href="javascript:;">
                    <i class="icon fa fa-remove"></i> Supprimer
                  </a>
               </div>
              </div>
                <div class="clearfix">
                    <div class="pull-right">
                        {{ Paginate(app.request.attributes.get('_route'),limit,countRows,5,maxPages,currentPage) | raw }}
                    </div>
                </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th><div class="checkbox">
                    <input class="styled" type="checkbox" id="chk_all"><label></label>
                  </div></th>
                <th>Initiales</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>
                    <div class="checkbox"><input class="styled" type="checkbox" data-chkid="{{ entity.id }}"><label></label></div>
                </td>
                <td>{{ entity.initiales }}</td>
                <td>
                <a href="{{ path('admin_devises_duplicate', { 'id': entity.id }) }}" class="btn btn-xs btn-default"><i class="icon fa fa-copy"></i> Dupliquer</a>

                <a href="{{ path('admin_devises_edit', { 'id': entity.id }) }}" class="btn btn-xs btn-primary"><i class="icon fa fa-edit"></i> Editer</a>

                <a href="{{ path('admin_devises_delete', { 'id': entity.id }) }}" class="btndeleteitem btn btn-xs btn-danger"><i class="icon fa fa-remove"></i> Supprimer</a>

                 
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                {{ form_end(idsForm) }}
                <div class="box-footer clearfix">
                    <div class="pull-right">
                        {{ Paginate(app.request.attributes.get('_route'),limit,countRows,5,maxPages,currentPage) | raw }}
                    </div>
                </div>
    </div>
             




          </div>
          <!-- /.box -->
          </div>
          </div>

      </section>
    <!-- /.content -->
    {% endblock %}
