{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::basemail.html.twig' %}

{% block body %}

    <p>Bonjour</p>
    <p>Un événement vient d'être ajouté :</p>
    <table width="90%" border="0" cellpadding="0" cellspacing="0">

        <tr>
            <td style="padding:20px;border-bottom:1px solid #999999;">Nom </td>
            <td style="padding:20px;border-bottom:1px solid #999999;">{{ nom }}</td>
        </tr>
        <tr>
            <td style="padding:20px;border-bottom:1px solid #999999;">Rubrique </td>
            <td style="padding:20px;border-bottom:1px solid #999999;">{{ rubrique }}</td>
        </tr>
        <tr>
            <td  style="padding:20px; " valign="top">Description</td>
            <td  style="padding:20px;background-color:#ffffff;border-bottom:1px solid #999999;">{{ description | nl2br }}</td>
        </tr>
        <tr>
            <td  style="padding:20px;border-bottom:1px solid #999999;" valign="top">Infos</td>
            <td  style="padding:20px; border-bottom:1px solid #999999;">{{ infos | raw }}</td>
        </tr>


    </table>

{% endblock %}