{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::basemail.html.twig' %}

{% block body %}

    <p>Bonjour</p>
    <p>Merci pour votre inscription à notre newsletter.</p>
    <p>Cordialement.</p>

{% endblock %}