{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::basemail.html.twig' %}

{% block body %}

<p>Bonjour</p>
<p>Le formulaire de contact a été rempli par : </p>
<table width="90%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding:20px;border-bottom:1px solid #999999;">Nom</td>
        <td style="padding:20px;border-bottom:1px solid #999999;">{{ name }}</td>
    </tr>
    <tr>
        <td style="padding:20px;border-bottom:1px solid #999999;">Email</td>
        <td style="padding:20px;border-bottom:1px solid #999999;">{{ email }}</td>
    </tr>
    <tr>
        <td  style="padding:20px; " valign="top">Message</td>
        <td  style="padding:20px;background-color:#ffffff;border-bottom:1px solid #999999;">{{ message|nl2br }}</td>
    </tr>
    <tr>
        <td  style="padding:20px; " valign="top">Inscription Newsletter</td>
        <td  style="padding:20px;border-bottom:1px solid #999999;">{% if subscribe %}Oui{%else%}Non{%endif%}</td>
    </tr>
    <tr>
        <td  style="padding:20px; " valign="top">Navigateur utilisé</td>
        <td  style="padding:20px;border-bottom:1px solid #999999;">{{ app.request.headers.get('User-Agent') }}</td>
    </tr>
    
    <tr>
        <td  style="padding:20px; " valign="top">IP</td>
        <td  style="padding:20px;border-bottom:1px solid #999999;">{{ ip }}</td>
    </tr>

</table>

{% endblock %}