{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::basemail.html.twig' %}

{% block body %}

<p>Bonjour</p>
<p>Nous vous remercions pour le message que vous avez transmis via notre site http://www.madatsara.com/.</p>
<p>Voici les informations que vous avez saisies.</p>
<p>Cordialement.</p>
<table width="90%" border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding:20px;border-bottom:1px solid #999999;">Nom</td>
        <td style="padding:20px;border-bottom:1px solid #999999;">{{ name }}</td>
    </tr>
    <tr>
        <td style="padding:20px;border-bottom:1px solid #999999;">Email</td>
        <td style="padding:20px;border-bottom:1px solid #999999;">{{ email }}</td>
    </tr>
    <tr>
        <td  style="padding:20px; " valign="top">Message</td>
        <td  style="padding:20px; border-bottom:1px solid #999999;">{{ message|nl2br }}</td>
    </tr>   
    <tr>
        <td  style="padding:20px; " valign="top">Inscription à la Newsletter</td>
        <td  style="padding:20px;border-bottom:1px solid #999999;">{% if subscribe %}Cochée{%else%}.{%endif%}</td>
    </tr>
</table>

{% endblock %}