{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::basemail.html.twig' %}

{% block body %}

    <p>Bonjour</p>
    <p>Une personne s'est inscrite à la newsletter</p>
    <table width="90%" border="0" cellpadding="0" cellspacing="0">

        <tr>
            <td style="padding:20px;border-bottom:1px solid #999999;">Email</td>
            <td style="padding:20px;border-bottom:1px solid #999999;">{{ email }}</td>
        </tr>
        <tr>
            <td  style="padding:20px; " valign="top">Infos</td>
            <td  style="padding:20px;background-color:#ffffff;border-bottom:1px solid #999999;">{{ infos | raw }}</td>
        </tr>


    </table>

{% endblock %}