<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{% block metadesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}">
    <meta property="og:title" content="{% block ogtitle %}{{'hometitle'|trans}}{% endblock %}" />
    <meta property="og:url" content="{{ app.request.uri }}" />
    <meta property="og:image" content="{% block ogimage %}{{"http://" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{% endblock %}" />
    <meta property="og:site_name" content="&#124;&nbsp;Madatsara" />
    <meta property="og:description" content="{% block metaogdesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}" />
    <meta property="og:type" content="website" />
    <meta property="fb:admins" content="823705647" />
    <meta property="og:locale" content="fr_FR" />
    <meta name="verify-v1" content="k8rL7/Zq2pa966Zh+/p1Gnw2lQxglkApa4IRYrXplW4=" />
    
  
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@madatsara" />
    <meta name="twitter:url" content="{{ app.request.uri }}" /> 
    <meta name="twitter:title" content="{% block twittertitle %}{{'hometitle'|trans}}{% endblock %}" />
    <meta name="twitter:description" content="{% block metatwitterdesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}" />
    <meta name="twitter:image" content="{% block twitterropimage %}{{"//" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{% endblock %}" />
    
    <meta itemprop="name" content="{% block itempropname %}{{'hometitle'|trans}}{% endblock %}" />
    <meta itemprop="description" content="{% block metaitempropdesc %}Actualité, Culture  et évènements à Madagascar y sont regroupés.{% endblock %}" />
    <meta itemprop="image" content="{% block itempropimage %}{{"//" ~app.request.server.get("HTTP_HOST") }}/assets/img/logomadatsara-fondred.jpg{% endblock %}" />
    <meta itemprop="thumbnailUrl" content="http://www.madatsara.com/uploads/media/0" />
      <meta name="theme-color" content="#B71C1C">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <link type="text/plain" rel="author" href="humans.txt">

        <title>{% block title %}{{'hometitle'|trans}}{% endblock %}</title>

      {% if app.environment == 'dev' %}
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/bootstrap/dist/css/bootstrap.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/jasny-bootstrap/dist/css/jasny-bootstrap.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/bootstrap-select/dist/css/bootstrap-select.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/Yamm3/yamm/yamm.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/bootstrap-social/bootstrap-social.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/font-awesome/css/font-awesome.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('bower_components/map-icons/dist/css/map-icons.min.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('dev/css/plugin/awesome-bootstrap-checkbox.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('dev/css/plugin/cookiecontent.css') }}"  media="screen,projection"/>
          <link type="text/css" rel="stylesheet" href="{{ asset('dev/css/custom.css') }}"  media="screen,projection"/>
      {% else %}
      <link type="text/css" rel="stylesheet" href="{{ asset('assets/css/styles.css') }}"  media="screen,projection"/>
      {% endif %}
      {% block stylesheets %}{% endblock %}


    <![endif]-->





    </head>

    <body role="document">

 
<!-- End Google Tag Manager -->
     <!-- Fixed navbar -->
    <nav class="yamm navbar navbar-default navbar-fixed-top red-darken-4">
      <div class="container">
        <div class="navbar-header">
           
          <a data-gaecategory="Lien" data-gaelabel="Logo Accueil" class="navbar-brand" href="{{ path('mdtshome_homepage') }}" id="logo-container"><span >Madatsara</span></a>
        </div>

      </div>
    </nav>
    <div class="container " >


    
  {% block body %}{% endblock %}


  
    </div> <!-- /container -->



 



    </body>
  </html>
