{{ form_start(form, {'attr': {'role': 'form'}}) }}

<div class="box-body">
    {# Aucune erreur lors de la creation #}
    {% for flashMessage in app.session.flashbag.get('notice') %}
        <div id="successEditArtiste" class="alert alert-warning alert-dismissible" role="alert">
            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="icon fa fa-check"></i> {{ flashMessage }}
        </div>
    {% endfor %}

    {# Si erreur lors de la creation #}
    {% for flashMessage in app.session.flashbag.get('warning') %}
        <div class="alert alert-danger alert-dismissible" role="alert">
            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <i class="icon fa fa-ban"></i> {{ flashMessage }}
        </div>
    {% endfor %}





    <div class="form-group">
        {{ form_label(form.name, 'Nom' ) }}
        {{ form_widget(form.name, {'attr': { 'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
        {{ form_label(form.parentartisteid, 'Appartient à ces artistes' ) }}
        {{ form_widget(form.parentartisteid ) }}
        <select id="select_mdts_homebundle_eventartistesdjorganisateurs_parentartiste" class="select2_parentartiste form-control" multiple="multiple"></select>
    </div>
    <div class="form-group">
        {{ form_label(form.enfantartisteid, 'Artistes appartenants' ) }}
        {{ form_widget(form.enfantartisteid ) }}
        <select id="select_mdts_homebundle_eventartistesdjorganisateurs_enfantartiste" class="select2_enfantartiste form-control" multiple="multiple"></select>
    </div>
    <div class="form-group">
        {{ form_label(form.type, 'Type' ) }}
        {{ form_widget(form.type, {'attr': { 'class': 'form-control select2'}}) }}
    </div>




    <div id="filedrag">
        <label style="display:block;" for="mdts_homebundle_eventartistesdjorganisateurs_photoFile_file">Glisser-déposer une image dans ce cadre / Coller une image (à partir de Chrome) ou <a href="javascript:;"  data-btnupload  class="color-grey">cliquer pour parcourir</a>

        </label>
    </div>
    <div data-context="artiste">
        {{ form_widget(form.photoFile, {'attr': { 'class': 'form-control'}}) }}
    </div>
    <hr >
    <div class="well" id="getImageEvent">
        <p >Ou Récupérer une image à partir d'un événement <em class="fa fa-arrow-down"></em></p>
        <div class="form-group " id="eventsearch">
            <div  id="remoteevent">
                <input  type="text" class="typeahead form-control input-md" >
            </div>
        </div>
    </div>
    <div class="form-group hidden" id="resultpic">
        {{ form_widget(form.filenameajax) }}
        {{ form_widget(form.dragandrop) }}
        <div class="clearfix">
            <div id="image" class="clearfix">
                <div data-toolcrop class="tools hidden pull-left" style="margin-right:5px;">
                    <a title="Activer le cadrage" class="tool_check btn-block btn btn-primary"><em class="fa fa-check"></em></a>
                    <a title="Annuler le cadrage" class="tool_clear btn-block btn btn-primary"><em class="fa fa-remove"></em></a>
                    <a title="Deplacer l'image" class="tool_move btn-block btn btn-primary"><em class="fa fa-arrows"></em></a>
                    <a title="Récupérer l'image cadrée" class="tool_getcropped btn-block btn btn-primary"><em class="fa fa-crop"></em></a>
                    <a title="Cadrage libre" class="tool_aspectratiofree btn-block btn btn-warning"><em class="fa fa-crop"></em></a>

                </div>
                <div id="imagecontainer" class="pull-left"></div>


            </div>
            <div data-toolcrop class="tools " style="margin-left:50px;margin-top:5px;">

                <a title="Activer le cadrage" class="tool_check btn btn-primary"><em class="fa fa-check"></em></a>
                <a title="Annuler le cadrage" class="tool_clear btn btn-primary"><em class="fa fa-remove"></em></a>
                <a title="Deplacer l'image" class="tool_move btn btn-primary"><em class="fa fa-arrows"></em></a>
                <a title="Récupérer l'image cadrée" class="tool_getcropped btn btn-primary"><em class="fa fa-crop"></em></a>
                <a title="Cadrage libre" class="tool_aspectratiofree btn btn-warning"><em class="fa fa-crop"></em></a>

            </div>
            <div id="imageplus"></div>
            <div class="clearfix" id="carouselimages"></div>
            <!--a style="margin-left:5px;" title="Récupérer le texte contenu dans l'image" id="btngetssh" class="btn btn-default pull-left"><em class="fa fa-refresh"></em></a-->
        </div>
        <!--div class="well " id="outcontent"></div-->
    </div>

    <div id="carouselevent" class="row"></div>

    <div class="form-group">
        {{ form_label(form.event, 'Evénements' ) }}
        <div class="row">
            <div class="col-md-12">
                <select id="select_mdts_homebundle_event"  class="select2_event form-control" multiple="multiple"><option value="">Choisir</option></select>
                {{ form_widget(form.event ) }}
            </div>

        </div>
    </div>
    <div class="form-group">
        {{ form_label(form.articlesmultiple, 'Articles de la presse' ) }}
        <div id="collectionarticlesartisteContainer"
             data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_articlesmultiple_artiste.html.twig', { 'form': form.articlesmultiple.vars.prototype }) }}
                           {% endfilter %}">
        </div>
    </div>
</div>
<!-- /.box-body -->

<div class="box-footer">
        <a class="btn btn-default" href="{{ path('admin_artistesdjorga') }}">
            <i class="icon fa fa-chevron-left"></i> Retour
        </a>
        {{ form_widget(form.submit, {'label': 'Enregistrer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
</div>


<div class="hidden">
    {{ form_rest(form) }}
</div>
{{ form_end(form) }}