/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

#logo-container {
	background: url(../img/logomadatsara.png) 0px 3px no-repeat;  
    margin-left: 10px;
    padding-left: 45px; 
}
#logo-container span {

}
.navbar-default.red-darken-4 {
	background-color: #b71c1c;
}
.txt-red-darken-4 {
  color: #b71c1c !important;
}
.red-darken-4 .navbar-nav>li>a, .red-darken-4 .navbar-nav>li>a:hover, .red-darken-4 .navbar-brand {
	color:#fff !important;
}
.red-darken-4 .navbar-nav>li>a:focus {
    color:#000 !important;
    background-color:#fff !important;
}
.red-darken-4 .navbar-toggle{
	border-color: #fff;
}

.red-darken-4 .navbar-toggle .icon-bar{
	background-color: #fff;
}
.padding-left-right-15 {
	padding-left:15px;
	padding-right:15px;
}

.stylish-input-group .input-group-addon{
    background: white !important; 
}
.stylish-input-group .form-control{
    border-right:0; 
  box-shadow:0 0 0; 
  border-color:#ccc;
}
.stylish-input-group button{
    border:0;
    background:transparent;
}

    .truncate {
    	white-space: nowrap;
		width: 100%;
		overflow: hidden;              /* "overflow" value must be different from "visible" */
		text-overflow: ellipsis;
    }
.blockquote-box{border-right:5px solid #E6E6E6;margin-bottom:25px}
.blockquote-box .square{width:70px;min-height:50px;margin-right:10px;text-align:center!important;}
.blockquote-box.blockquote-primary{border-color:#357EBD}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-success{border-color:#4CAE4C}
.blockquote-box.blockquote-success .square{background-color:#5CB85C;color:#FFF}
.blockquote-box.blockquote-info{border-color:#46B8DA}
.blockquote-box.blockquote-info .square{background-color:#5BC0DE;color:#FFF}
.blockquote-box.blockquote-warning{border-color:#EEA236}
.blockquote-box.blockquote-warning .square{background-color:#F0AD4E;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}
.para_height_fix {
	height:60px;
}

.cursorpointer {
    cursor: pointer;
}
.dropdsearch {
  position: absolute;
  width: 93%;
  left: 0px;
  margin-top: -22px!important;
  border-radius:0 !important;
   
}
.searchcontent {
  padding:20px;
}
.height330 {
  height:278px !important;
}
.btnblock {
    display:block;
    margin:0 5px 5px 0;
    padding:10px 0;
    font-size:1em;
    background: #E6E6E6;
}
.btnblock .map-icon {
  font-size:56px !important;
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	 
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
 
.social-network a.icoFacebook:hover {
	background-color:#3B5998;
}
.social-network a.icoTwitter:hover {
	background-color:#33ccff;
}
.social-network a.icoGoogle:hover {
	background-color:#BD3518;
}
.social-network a.icoYoutube:hover {
	background-color:#cd201f;
}
.social-network a.icoInstagram:hover {
	background-color:#3f729b;
}
.social-network a.icoPinterest:hover {
	background-color:#bd081c;
} 
.social-network a.icoRss:hover i, .social-network a.icoFacebook:hover i, .social-network a.icoTwitter:hover i,
.social-network a.icoGoogle:hover i, .social-network a.icoVimeo:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 30px;
	height: 30px;
	font-size:15px;
	background-color: #D3D3D3;
}
.social-circle li i {
	margin:0;
	line-height:30px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

 
.mobile-social-share {
    background: none repeat scroll 0 0 #EEEEEE;
    display: block !important;
    min-height: 70px !important;
    margin: 50px 0;
}
 


.mobile-social-share h3 {
    color: inherit;
    float: left;
    font-size: 15px;
    line-height: 20px;
    margin: 25px 25px 0 25px;
}



.btn-group {
    display: inline-block;
    font-size: 0;
    position: relative;
    vertical-align: middle;
    white-space: nowrap;
}

.mobile-social-share ul {
    float: right;
    list-style: none outside none;
    margin: 0;
    min-width: 61px;
    padding: 0;
}

.share {
    min-width: 17px;
}

.mobile-social-share li {
    display: block;
    font-size: 18px;
    list-style: none outside none;
    margin-bottom: 3px;
    margin-left: 4px;
    margin-top: 3px;
}

.btn-share {
    background-color: #BEBEBE;
    border-color: #CCCCCC;
    color: #333333;
}

.btn-twitter {
    background-color: #3399CC !important;
    width: 51px;
    color:#FFFFFF!important;
}

.omb_loginOr {
    position: relative;
    font-size: 1.5em;
    color: #aaa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}
.omb_loginOr .omb_hrOr {
    background-color: #cdcdcd;
    height: 1px;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
}
.omb_loginOr .omb_spanOr {
    display: block;
    position: absolute;
    left: 50%;
    top: -0.6em;
    margin-left: -1.5em;
    background-color: white;
    width: 3em;
    text-align: center;
}

.btn-facebook {
    background-color: #3D5B96 !important;
    color:#FFFFFF!important;
}

.btn-google {
    background-color: #DD3F34 !important;
    color:#FFFFFF!important;
}

.btn-linkedin {
    background-color: #1884BB !important;
    color:#FFFFFF!important;
}

.btn-pinterest {
    background-color: #CC1E2D !important;
    color:#FFFFFF!important;
}

.btn-mail {
    background-color: #FFC90E !important;
    color:#FFFFFF!important;
}

.dropdown-toggle-share .dropdown-menu{
	min-width: auto !important;
}
.dropdown-toggle-share .dropdown-menu li{
	padding: 3px !important;
}
@media (max-width : 320px) {
 
    .mobile-social-share h3 {
        margin-left: 0;
        margin-right: 0;
    }
    
   .dropdown-toggle-share{
        margin-left:5px;
        margin-right:5px;
    }
    
    .mobile-social-share h3 {
        font-size: 15px;
    }
}

@media (max-width : 238px) {
    .mobile-social-share h3 {
        font-size: 12px;
    }
}
.nomargintop {
  margin-top: 0 !important; 
}
.relativeposition {
  position: relative;
}
.tarifopacity {
  color:#fff;
  position:absolute;
  right:5px;
  padding:5px;
  background:rgba(0,0,0,0.7);
}
/** Lightbox NL **/
.containermodal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.containermodal.fade .containermodal_inner {
    -webkit-transition: -webkit-transform .3s ease-out;
    -o-transition:      -o-transform .3s ease-out;
    transition:         transform .3s ease-out;
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
}
.containermodal.in .containermodal_inner {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
}
.modal-open .containermodal {
    overflow-x: hidden;
    overflow-y: auto;
}
.containermodal_inner {
    position: relative;
    width: auto;
    margin: 10px;
}
.containermodal_inner_content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}
.modalbackdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
}
.modalbackdrop.fade {
    filter: alpha(opacity=0);
    opacity: 0;
}
.modalbackdrop.in {
    filter: alpha(opacity=50);
    opacity: .5;
}
.containermodal_inner_content-body {
    position: relative;
    padding: 15px;
    margin:1px;
    border:5px solid #B71C1C;
}
.modal-scrollbar-measure {
    position: absolute;
    top: -9999px;
    width: 50px;
    height: 50px;
    overflow: scroll;
}
@media (min-width: 768px) {
    .containermodal_inner {
        width: 600px;
        margin: 30px auto;
    }
    .containermodal_inner_content {
        -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
        box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    }
    .modal-sm {
        width: 300px;
    }
}
@media (min-width: 992px) {
    .modal-lg {
        width: 900px;
    }
}
.backgroundRed{
    transform:rotate(3deg);
    -ms-transform:rotate(3deg); /* Internet Explorer */
    -moz-transform:rotate(3deg); /* Firefox */
    -webkit-transform:rotate(3deg); /* Safari et Chrome */
    -o-transform:rotate(3deg); /* Opera */
}
.reset{
    transform:rotate(0deg);
    -ms-transform:rotate(0deg); /* Internet Explorer */
    -moz-transform:rotate(0deg); /* Firefox */
    -webkit-transform:rotate(0deg); /* Safari et Chrome */
    -o-transform:rotate(0deg); /* Opera */
}
.bigclose {
    display: block;
    color:#fff;
    font-size:3em;
    position: fixed;
    display: block;
    top: 0;
    right: 10px;
    z-index: 2000;
} .bigclose:hover{color:#fff !important;text-decoration: none;}

/** --- spinner ***/
.spinner {
    margin: 4px auto 0;
    width: 70px;
    text-align: center;
}

.spinner > div {
    width: 18px;
    height: 18px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

/**
* (optional) define here the style definitions which should be applied on the slider container
* e.g. width including further controls like arrows etc.
*/
.slider {position: relative;}

.frame {
   /**
    * (optional) wrapper width, specifies width of the slider frame.
    */
   font-size: 1em; 
   margin-left: 30px;
   position: relative; 
   overflow: hidden;
   white-space: nowrap;
}

.slides {
   display: inline-block;
}

.frame li {
    position: relative;
    display: inline-block;  
    text-align: center; 
    width:100px;
    margin-left:10px;
} 

.prev, .next {
   position: absolute;
   top: 50%;
   margin-top: -25px;
   display: block;
   cursor: pointer;
}

.next {
   right: -20px;
}

.prev {
   left: 0;
}

.next svg, .prev svg {
   width: 25px;
}
.circle-image {
    border-radius: 50%;
}

.height-475px {
    height: 475px;
}
.label-xsmall {
    vertical-align: super;
    font-size: x-small;
}

.label-small {
    vertical-align: super;
    font-size: small;
}

.label-medium {
    vertical-align: super;
    font-size: medium;
}

.label-large {
    vertical-align: super;
    font-size: large;
}

.label-bs {
    vertical-align: super;
}

.color-black {
    color: #000 !important;
    background: #fff !important;
}

.inline-block {
    display: inline-block !important;
}

.background-e6e6e6 {
    background-color: #e6e6e6 !important;
}

@media (max-width:767px){
    .navbar-nav .open .dropdown-menu{
        background-color: #fff !important;
    }
}
.background-e6e6e6.active {
    background-color: #999999 !important;
}

.leaflet-popup-content-wrapper,.leaflet-popup-content
{
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}