<!-- jQuery 2.1.4 -->
<script src="{{ asset('bower_components/AdminLTE/plugins/jQuery/jQuery-2.1.4.min.js') }}"></script>
<!-- Bootstrap 3.3.5 -->
<script src="{{ asset('bower_components/AdminLTE/bootstrap/js/bootstrap.min.js') }}"></script>
<!-- AdminLTE App --> 
<script src="{{ asset('bower_components/AdminLTE/dist/js/app.min.js') }}"></script>
<script src="{{ asset('bower_components/bootbox.js/bootbox.js') }}"></script>
<script src="{{ asset('bower_components/sweetalert2/dist/sweetalert2.js') }}"></script>

<script src="{{ asset('bower_components/intl-tel-input/build/js/intlTelInput.min.js') }}"></script>
<script src="{{ asset('bower_components/moment/min/moment-with-locales.min.js') }}"></script>
<script src="{{ asset('bower_components/flatpickr-calendar/dist/flatpickr.js') }}"></script>
<script src="{{ asset('bower_components/flatpickr-calendar/dist/l10n/fr.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/select2/select2.full.js') }}"></script>
<script src="{{ asset('bower_components/remarkable-bootstrap-notify/dist/bootstrap-notify.min.js') }}"></script>
<script src="{{ asset('bower_components/typeahead.js/dist/typeahead.bundle.js') }}"></script>
<script src="{{ asset('bower_components/handlebars/handlebars.js') }}"></script>
<script src="{{ asset('bower_components/ckeditor/ckeditor.js') }}"></script>
<script src="{{ asset('bower_components/Caret.js/dist/jquery.caret.min.js') }}"></script>
<script src="{{ asset('bower_components/At.js/dist/js/jquery.atwho.min.js') }}"></script>

<script src="{{ asset('bower_components/cropperjs/dist/cropper.min.js') }}"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

<script src="{{ asset('assets/js/variables.js') }}"></script>
<script src="{{ asset('assets/js/functions.js') }}"></script>
<script src="{{ asset('assets/js/backend.js') }}"></script>

 