<ul class="sidebar-menu">
  <li class="header">HEADER</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active"><a href="{{ path('mdts_backend_homepage') }}"><i class="fa fa-link"></i> <span>Tableau de bord</span></a></li>
   
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Evénements</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_event_new') }}"><i class="fa fa-circle-o"></i> Créer</a></li>
      <li><a href="{{ path('admin_event') }}"><i class="fa fa-circle-o"></i> Afficher</a></li>
      <li><a href="{{ path('admin_eventbymember_liste') }}"><i class="fa fa-circle-o"></i> Envoyés via le site</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Lieux</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_eventlieu_new') }}"><i class="fa fa-circle-o"></i> Créer</a></li>
      <li><a href="{{ path('admin_eventlieu') }}"><i class="fa fa-circle-o"></i> Afficher</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Rubriques</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_eventtype_new') }}"><i class="fa fa-circle-o"></i> Créer</a></li>
      <li><a href="{{ path('admin_eventtype') }}"><i class="fa fa-circle-o"></i> Afficher</a></li>
    </ul>
  </li>
  
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Utilisateurs / abonnés NL</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_user_new') }}">Créer</a></li>
      <li><a href="{{ path('admin_user') }}">Afficher</a></li>
      <li><a href="{{ path('newsletterabonne') }}">Abonnés (NL)</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Types d'entrées</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_entreetype_new') }}">Créer</a></li>
      <li><a href="{{ path('admin_entreetype') }}">Afficher</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Devises</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_devises_new') }}">Créer</a></li>
      <li><a href="{{ path('admin_devises') }}">Afficher</a></li>
    </ul>
  </li>

  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Fêtes et événts spéciaux</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_eventlocal_new') }}"><i class="fa fa-circle-o"></i> Créer</a></li>
      <li><a href="{{ path('admin_eventlocal') }}"><i class="fa fa-circle-o"></i> Afficher</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Artistes / DJ / Orga.</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_artistesdjorga_new') }}"><i class="fa fa-circle-o"></i> Créer</a></li>
      <li><a href="{{ path('admin_artistesdjorga') }}"><i class="fa fa-circle-o"></i> Afficher</a></li>
    </ul>
  </li>
  <li class="treeview">
    <a href="#"><i class="fa fa-folder"></i> <span>Articles</span> <i class="fa fa-angle-left pull-right"></i></a>
    <ul class="treeview-menu">
      <li><a href="{{ path('admin_articlesevent_new') }}"><i class="fa fa-circle-o"></i> Créer</a></li>
      <li><a href="{{ path('admin_articlesevent') }}"><i class="fa fa-circle-o"></i> Afficher</a></li>
    </ul>
  </li>
</ul> 