<div id="reccurrence">

<section class="content">
	<div class="well" id="rrule_result"></div>

	<div class="row">
		<div class="col-md-6">
		<div class="box box-primary">
	        <div class="box-header with-border">
	          <h3 class="box-title">Reccurrence</h3>
	        </div>         

    	<div class="box-body">

			<div class="form-group">
			  <label for="rrule_FREQ">Fréquence (tous(tes) les)</label>
			  <select id="rrule_FREQ" class="form-control" >
			  	<option value="">...</option>
			  	<option value="YEARLY">Ans</option>
			  	<option value="MONTHLY">Mois</option>
			  	<option value="WEEKLY">Semaines</option>
			  	<option value="DAILY">Jours</option>
			  	<option value="HOURLY">Heures</option>
			  	<option value="MINUTELY">Minutes</option>
			  	<option value="SECONDLY">Secondes</option>
			  </select>
			</div>
			<div class="form-group">
			  <label for="rrule_DTSTART">A partir du</label>
			  <input id="rrule_DTSTART" class="form-control" type="datetime-local">
			</div>
			<div class="form-group">
			  <label for="rrule_UNTIL">Jusqu'au</label>
			  <input id="rrule_UNTIL" class="form-control" type="datetime-local">
			</div>
			<div class="form-group">
			  <label for="rrule_COUNT">Répéter (x fois)</label>
			  <input id="rrule_COUNT" class="form-control" type="number" min="1" max="1000">
			</div>
			<div class="form-group">
			  <label for="rrule_INTERVAL"> (entre 2 périodes)</label>
			  <input id="rrule_INTERVAL" class="form-control" type="number" min="1" max="1000">
			</div>
			<div class="form-group">
			  <label for="rrule_WKST">Débuter la semaine le</label>
			  <select id="rrule_WKST" class="form-control" >
			  	<option value="">...</option>
			  	<option value="MO">Lundi</option>
			  	<option value="TU">Mardi</option>
			  	<option value="WE">Mercredi</option>
			  	<option value="TH">Jeudi</option>
			  	<option value="FR">Vendredi</option>
			  	<option value="SA">Samedi</option>
			  	<option value="SU">Dimanche</option>
			  </select>
			</div>
			 
			<div class="form-group">
			  <label for="rrule_BYDAY">Uniquement les jours de la semaine</label>
			  <select id="rrule_BYDAY" class="form-control" multiple="multiple"  >
			  	<option value="">...</option>
			  	<option value="MO">Lundi</option>
			  	<option value="TU">Mardi</option>
			  	<option value="WE">Mercredi</option>
			  	<option value="TH">Jeudi</option>
			  	<option value="FR">Vendredi</option>
			  	<option value="SA">Samedi</option>
			  	<option value="SU">Dimanche</option>
			  </select>
			</div>
			<div class="form-group">
			  <label for="rrule_BYMONTH">Uniquement les mois de</label>
			  <select id="rrule_BYMONTH" class="form-control" multiple="multiple"  >
			  	<option value="">...</option>
			  	<option value="1">janvier</option>
			  	<option value="2">février</option>
			  	<option value="3">mars</option>
			  	<option value="4">avril</option>
			  	<option value="5">mai</option>
			  	<option value="6">juin</option>
			  	<option value="7">juillet</option>
			  	<option value="8">août</option>
			  	<option value="9">septembre</option>
			  	<option value="10">octobre</option>
			  	<option value="11">novembre</option>
			  	<option value="12">décembre</option>
			  </select>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div id="rrule_all"></div>
</div>
</div>
</section>
</div>
<script src="{{ asset('bower_components/rrule/lib/rrule.js') }}"></script>
<script src="{{ asset('bower_components/rrule/lib/nlp.js') }}"></script>

<script>
function getRule()
{
	//alert( moment().locale('fr').format('LLL') );
	moment.locale('fr');
	var rule = [];
	var bydayvalue = [];
	var bymonthvalue = [];

	var frequence = document.getElementById('rrule_FREQ').options[document.getElementById('rrule_FREQ').selectedIndex].value;
	var wkst = document.getElementById('rrule_WKST').options[document.getElementById('rrule_WKST').selectedIndex].value;
	var byday = document.getElementById('rrule_BYDAY') ;
	var bymonth = document.getElementById('rrule_BYMONTH') ;

	for( var i=0; i < byday.length; i++) {
		//alert(byday[i].text+" - "+byday[i].value+" - "+byday[i].selected);
		if ( byday[i].selected && byday[i].value != '' ) {
			bydayvalue.push( byday[i].value );
		}
	}

	for( var i=0; i < bymonth.length; i++) {
		//alert(bymonth[i].text+" - "+bymonth[i].value+" - "+bymonth[i].selected);
		if ( bymonth[i].selected && bymonth[i].value != '' ) {
			bymonthvalue.push( bymonth[i].value );
		}
	}
	 

	var dtstart = document.getElementById('rrule_DTSTART').value;
	var until = document.getElementById('rrule_UNTIL').value;
	var count = document.getElementById('rrule_COUNT').value;
	var interval = document.getElementById('rrule_INTERVAL').value;

	if ( frequence != '' )
		rule.push( 'FREQ='+frequence );

	if ( wkst != '' )
		rule.push( 'WKST='+wkst );

	if ( bydayvalue.length>0 )
		 rule.push( 'BYDAY='+bydayvalue.join(',') );

	if ( bymonthvalue.length>0 )
		 rule.push( 'BYMONTH='+bymonthvalue.join(',') );

	if ( dtstart != '' ) { 
		var moment_date1 = moment(dtstart, 'YYYY-MM-DD[T]HH:mm');
		rule.push( 'DTSTART='+moment_date1.format('YYYYMMDD[T]HHmmss[Z]') );
	}

	if ( until != '' ) { 
		var moment_date1 = moment(until, 'YYYY-MM-DD[T]HH:mm');
		rule.push( 'UNTIL='+moment_date1.format('YYYYMMDD[T]HHmmss[Z]') );
	}

	if ( count != '' ) { 
		rule.push( 'COUNT='+count );
	}
	if ( interval != '' ) { 
		rule.push( 'INTERVAL='+interval );
	}

	return rule.join(';');
}
//Au chargement du DOM
document.addEventListener('DOMContentLoaded', function() {
	var reccurrence = document.querySelector('#reccurrence');
	moment.locale('fr');
	var rulestr = [];
	var rule,freqvalue,dstartvalue,untilvalue,countvalue,intervalvalue,wkstvalue,bydayvalue,bymonthvalue = '';

	[].forEach.call(reccurrence.querySelectorAll("select, input"), function(el) {
		el.addEventListener('change',function(evt){
			
			if( getRule() != '' ) {

				fillrule( getRule() );

				 
			}

		});
	});

	//Si le champ rrule est rempli
	if ( document.querySelector('input[id$=_rrule]').value != '' ) {
		fillrule( document.querySelector('input[id$=_rrule]').value, 'editmode' );
		
	}

});

function fillrule(rulestr)
{
	var rule = RRule.fromString( rulestr );
	console.log(rule.options);

	if ( typeof arguments[1] != 'undefined' ) {
		 
		if( rule.options.byweekday!=null && rule.options.byweekday.length>0 ){
			for ( var i=0; i < document.getElementById('rrule_BYDAY').options.length; i++) {
				 console.log( i+' - '+document.getElementById('rrule_BYDAY').options[i].value+' - '+rule.options.byweekday.indexOf( eval(i-1) ) );
				if (  rule.options.byweekday.indexOf( eval(i-1) )>=	0 ) {
					document.getElementById('rrule_BYDAY').options[i].selected = true;
				}
			}
		}

		if( rule.options.bymonth!=null && rule.options.bymonth.length>0 ){
			for ( var i=0; i < document.getElementById('rrule_BYMONTH').options.length; i++) {
				 console.log( i+' - '+document.getElementById('rrule_BYMONTH').options[i].value+' - '+rule.options.bymonth.indexOf( eval(i-1) ) );
				if (  rule.options.bymonth.indexOf( eval(i-1) )>=	0 ) {
					document.getElementById('rrule_BYMONTH').options[i].selected = true;
				}
			}
		}
		  

		 var dateuntil = rule.options.until.getFullYear()+'-'+eval(rule.options.until.getMonth()+1)+'-'+rule.options.until.getDate()+'T'+rule.options.until.getHours()+':'+rule.options.until.getMinutes();

		 var datestart = rule.options.dtstart.getFullYear()+'-'+eval(rule.options.dtstart.getMonth()+1)+'-'+rule.options.dtstart.getDate()+'T'+rule.options.dtstart.getHours()+':'+rule.options.dtstart.getMinutes();
		  

		document.getElementById('rrule_FREQ').selectedIndex = eval(rule.options.freq+1);

		if ( eval(rule.options.wkst+1) > 0 ) {
			document.getElementById('rrule_WKST').selectedIndex = eval(rule.options.wkst+1);
		}

		document.getElementById('rrule_UNTIL').value = (moment(dateuntil,'YYYY-M-D[T]H:m').isValid()?moment(dateuntil,'YYYY-M-D[T]H:m').format('YYYY-MM-DD[T]HH:mm'):'');
		document.getElementById('rrule_DTSTART').value = (moment(datestart,'YYYY-M-D[T]H:m').isValid()?moment(datestart,'YYYY-M-D[T]H:m').format('YYYY-MM-DD[T]HH:mm'):'');
	}

	

	if ( document.querySelector('input[id$=_rrule]')) {
		document.querySelector('input[id$=_rrule]').value = getRule();
	}
	var tableau = rule.all(function (date, i){return i < 40});

	var html = '<div class="box-body table-responsive "><table class="table table-hover"><thead><tr><th>Date</th><th>mois</th><th>Année</th></tr></thead><tbody>';
	for( var i = 0 ; i < tableau.length; i++ ) {
		//alert( moment( tableau[i] ).format('DD MMMM YYYY') );
		html += '<tr><td>'+moment( tableau[i] ).format('DD')+'</td><td>'+moment( tableau[i] ).format('MMMM')+'</td><td>'+moment( tableau[i] ).format('YYYY')+'</td></tr>';
	}
	html += '</tbody></table></div>';


	document.getElementById('rrule_result').innerHTML = rulestr;
	document.getElementById('rrule_all').innerHTML = html;
}
</script>
