{% if entity is defined %}

{# FREQ=YEARLY;DTSTART=20151230T230000Z;COUNT=20;WKST=MO;BYDAY=MO,TU,SA;BYMONTH=1,7;BYSETPOS=1;BYMONTHDAY=2;BYYEARDAY=3;BYWEEKNO=4;BYHOUR=5;BYMINUTE=6;BYSECOND=7 #}

{% set FREQ = "" %}
{% set DTSTART = "" %}
{% set UNTIL = "" %}
{% set COUNT = "" %}
{% set WKST = "" %}
{% set BYDAY = "" %}
{% set BYMONTH = "" %}
{% set BYSETPOS = "" %}
{% set BYMONTHDAY = "" %}
{% set BYYEARDAY = "" %}
{% set BYWEEKNO = "" %}
{% set BYHOUR = "" %}
{% set BYMINUTE = "" %}
{% set BYSECOND = "" %}

{% if entity.recurrence is defined %}
    {% set ENTITYRRULE = entity.recurrence %}
{% elseif entity.rrule is defined %}
    {% set ENTITYRRULE = entity.rrule %}
{% endif %}

{% for row in ENTITYRRULE|split(';') %}

    {% set item = row|split('=') %}

    {% if item[0] == "FREQ" %}
        {% set FREQ = item[1] %}
    {% endif %}

    {% if item[0] == "DTSTART" %}
        {% set DTSTART = item[1] %}
    {% endif %} 

    {% if item[0] == "UNTIL" %}
        {% set UNTIL = item[1] %}
    {% endif %}

    {% if item[0] == "COUNT" %}
        {% set COUNT = item[1] %}
    {% endif %}

    {% if item[0] == "WKST" %}
        {% set WKST = item[1] %}
    {% endif %}

    {% if item[0] == "BYDAY" %}
        {% set BYDAY = item[1] %}
    {% endif %}

    {% if item[0] == "BYMONTH" %}
        {% set BYMONTH = item[1] %}
    {% endif %}

    {% if item[0] == "BYSETPOS" %}
        {% set BYSETPOS = item[1] %}
    {% endif %}

    {% if item[0] == "BYMONTHDAY" %}
        {% set BYMONTHDAY = item[1] %}
    {% endif %}

    {% if item[0] == "BYYEARDAY" %}
        {% set BYYEARDAY = item[1] %}
    {% endif %}

    {% if item[0] == "BYWEEKNO" %}
        {% set BYWEEKNO = item[1] %}
    {% endif %}

    {% if item[0] == "BYHOUR" %}
        {% set BYHOUR = item[1] %}
    {% endif %}

    {% if item[0] == "BYMINUTE" %}
        {% set BYMINUTE = item[1] %}
    {% endif %}

    {% if item[0] == "BYSECOND" %}
        {% set BYSECOND = item[1] %}
    {% endif %}

    

{% endfor %}

 

 

 

{%endif%}
<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Reccurence
</button>
<div class="collapse" id="collapseExample">
   

   <div class="row">


<div class="col-sm-6 col-md-6 col-xs-12" id="input">
    <h2>Entrée</h2>
    <div id="tabs"></div>
    <div id="input-types">
    <section id="options-input">
         

        <form>
        <table>

        <tbody>
        <tr>
            <th>
                <div class="option-name"><code>Fréq</code>

                    <div class="help">Frequence</div>
                </div>
            </th>
            <td>
                    <label><input name="freq" type="radio" value="0"{% if entity is defined and FREQ is defined and FREQ == "YEARLY"%} checked="checked"{%endif%} />Tous les ans</label>
                    <label><input name="freq" type="radio" value="1" {% if entity is defined and FREQ is defined and FREQ == "MONTHLY"%} checked="checked"{%endif%}/>Tous les mois</label>
                    <label><input name="freq" type="radio" value="2"{% if entity is defined and FREQ is defined and FREQ == "WEEKLY"%} checked="checked"{%endif%} />Toutes les semaines</label>
                    <label><input name="freq" type="radio" value="3"{% if entity is defined and FREQ is defined and FREQ == "DAILY"%} checked="checked"{%endif%} />Tous les jours</label>
                    <label><input name="freq" type="radio" value="4"{% if entity is defined and FREQ is defined and FREQ == "HOURLY"%} checked="checked"{%endif%} />Toutes les heures</label>
                    <label><input name="freq" type="radio" value="5"{% if entity is defined and FREQ is defined and FREQ == "MINUTELY"%} checked="checked"{%endif%} />Toutes les minutes</label>
                    <label><input name="freq" type="radio" value="6" {% if entity is defined and FREQ is defined and FREQ == "SECONDLY"%} checked="checked"{%endif%}/>Toutes les secondes</label>
            </td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>A partir du</code>

                    <div class="help">The recurrence start. Besides being the
                        base for the recurrence, missing parameters in the
                        final recurrence instances will also be extracted from
                        this date. If not given, <code>new Date</code> will be
                        used instead.
                    </div>
                </div>
            </th>
            <td><input name="dtstart" value="{% if entity is defined and DTSTART is defined and DTSTART != "" %}{{ DTSTART|formatdaterule }}{%endif%}" class="form-control"  type="datetime-local"/></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>jusqu'au</code>

                    <div class="help">If given, this must be a
                        <code>Date</code>
                        instance, that will
                        specify
                        the limit of the recurrence. If a recurrence instance
                        happens
                        to be the same as the <code>Date</code> instance given
                        in the
                        <code>until</code>
                        argument, this will be the last occurrence.
                    </div>
                </div>
            </th>
            <td><input type="datetime-local" value="{% if entity is defined and UNTIL is defined and UNTIL != "" %}{{ UNTIL|formatdaterule }}{%endif%}" class="form-control" name="until"/>
            </td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>Répeter</code>

                    <div class="help">How many occurrences will be generated.
                    </div>
                </div>
            </th>
            <td><input type="number" class="form-control"  max="1000" min="1" value="{% if entity is defined and COUNT is defined and COUNT > 0%}{{ COUNT }}{%endif%}" name="count"/>
            </td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>Intervalle</code>

                    <div class="help">The interval between each freq iteration.
                        For example, when using <code>RRule.YEARLY</code>, an
                        interval of <code>2</code> means once every two years,
                        but with <code>RRule.HOURLY</code>, it means once every
                        two hours. The default interval is <code>1</code>.
                    </div>
                </div>
            </th>
            <td><input type="number" class="form-control"  value="1" min="1" name="interval"/></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>Début semaine</code>

                    <div class="help"> The week start day. Must be one of the
                        <code>RRule.MO</code>, <code>RRule.TU</code>,
                        <code>RRule.WE</code>
                        constants, or an integer, specifying the first day of
                        the week. This will affect recurrences based on weekly
                        periods. The default week start is
                        <code>RRule.MO</code>.
                    </div>
                </div>
            </th>
            <td>
                <label><input type="radio" name="wkst" value="0"{% if entity is defined and WKST is defined and WKST == "MO"%} checked="checked"{%endif%}/>Lundi</label>
                <label><input type="radio" name="wkst" value="1"{% if entity is defined and WKST is defined and WKST == "TU"%} checked="checked"{%endif%} />Mardi</label>
                <label><input type="radio" name="wkst" value="2"{% if entity is defined and WKST is defined and WKST == "WE"%} checked="checked"{%endif%} />Mercredi</label>
                <label><input type="radio" name="wkst" value="3"{% if entity is defined and WKST is defined and WKST == "TH"%} checked="checked"{%endif%} />Jeudi</label>
                <label><input type="radio" name="wkst" value="4"{% if entity is defined and WKST is defined and WKST == "FR"%} checked="checked"{%endif%} />Vendredi</label>
                <label><input type="radio" name="wkst" value="5"{% if entity is defined and WKST is defined and WKST == "SA"%} checked="checked"{%endif%} />Samedi</label>
                <label><input type="radio" name="wkst" value="6"{% if entity is defined and WKST is defined and WKST == "SU"%} checked="checked"{%endif%} />Dimanche</label>
            </td>
        </tr><tr>
            <th>
                <div class="option-name"><code>Jour de la semaine</code>

                    <div class="help">If given, it must be either an integer
                        (<code>0
                            == RRule.MO</code>),
                        a
                        sequence of integers, one of the weekday constants
                        (<code>RRule.MO</code>,
                        <code>RRule.TU</code>, etc), or a sequence of these
                        constants.
                        When
                        given,
                        these variables will define the weekdays where the
                        recurrence
                        will be applied. It's also possible to use an argument
                        n
                        for
                        the weekday instances, which will mean the nth
                        occurrence
                        of
                        this weekday in the period. For example, with
                        <code>RRule.MONTHLY</code>,
                        or with <code>RRule.YEARLY</code> and
                        <code>BYMONTH</code>,
                        using
                        <code>RRule.FR.clone(+1)</code> in
                        <code>byweekday</code> will
                        specify
                        the
                        first friday of the month where the recurrence happens.
                        Notice
                        that the RFC documentation, this is specified as
                        <code>BYDAY</code>,
                        but was renamed to avoid the ambiguity of that
                        argument.
                    </div>
                </div>
            </th>
            <td>
                <label><input type="checkbox" name="byweekday" value="0"{% if entity is defined and BYWEEKDAY is defined and "MO" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Lundi</label>
                <label><input type="checkbox" name="byweekday" value="1"{% if entity is defined and BYWEEKDAY is defined and "TU" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Mardi</label>
                <label><input type="checkbox" name="byweekday" value="2"{% if entity is defined and BYWEEKDAY is defined and "WE" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Mercredi</label>
                <label><input type="checkbox" name="byweekday" value="3"{% if entity is defined and BYWEEKDAY is defined and "TH" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Jeudi</label>
                <label><input type="checkbox" name="byweekday" value="4"{% if entity is defined and BYWEEKDAY is defined and "FR" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Vendredi</label>
                <label><input type="checkbox" name="byweekday" value="5"{% if entity is defined and BYWEEKDAY is defined and "SA" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Samedi</label>
                <label><input type="checkbox" name="byweekday" value="6"{% if entity is defined and BYWEEKDAY is defined and "SU" in BYWEEKDAY|split(",") %} checked="checked"{%endif%}>Dimanche</label>
            </td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>Par mois</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the months to apply the recurrence
                        to.
                    </div>
                </div>
            </th>
            <td>
                <label><input name="bymonth" type="checkbox" value="1"{% if entity is defined and BYMONTH is defined and "1" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Jan</label>
                <label><input name="bymonth" type="checkbox" value="2"{% if entity is defined and BYMONTH is defined and "2" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Fev</label>
                <label><input name="bymonth" type="checkbox" value="3"{% if entity is defined and BYMONTH is defined and "3" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Mar</label>
                <label><input name="bymonth" type="checkbox" value="4"{% if entity is defined and BYMONTH is defined and "4" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Avr</label>
                <label><input name="bymonth" type="checkbox" value="5"{% if entity is defined and BYMONTH is defined and "5" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Mai</label>
                <label><input name="bymonth" type="checkbox" value="6"{% if entity is defined and BYMONTH is defined and "6" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Juin</label>
                <label><input name="bymonth" type="checkbox" value="7"{% if entity is defined and BYMONTH is defined and "7" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Juil</label>
                <label><input name="bymonth" type="checkbox" value="8"{% if entity is defined and BYMONTH is defined and "8" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Aou</label>
                <label><input name="bymonth" type="checkbox" value="9"{% if entity is defined and BYMONTH is defined and "9" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Sep</label>
                <label><input name="bymonth" type="checkbox" value="10"{% if entity is defined and BYMONTH is defined and "10" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Oct</label>
                <label><input name="bymonth" type="checkbox" value="11"{% if entity is defined and BYMONTH is defined and "11" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Nov</label>
                <label><input name="bymonth" type="checkbox" value="12"{% if entity is defined and BYMONTH is defined and "12" in BYMONTH|split(",") %} checked="checked"{%endif%}/> Dec</label>
            </td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>bysetpos</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, positive or negative. Each given integer will
                        specify
                        an occurrence number, corresponding to the nth
                        occurrence
                        of
                        the rule inside the frequency period. For example, a
                        <code>bysetpos</code> of <code>-1</code> if combined
                        with a
                        <code>RRule.MONTHLY</code>
                        frequency, and a byweekday of (<code>RRule.MO</code>,
                        <code>RRule.TU</code>,
                        <code>RRule.WE</code>, <code>RRule.TH</code>,
                        <code>FR</code>),
                        will
                        result
                        in the last
                        work day of every month.
                    </div>
                </div>
            </th>
            <td><input name="bysetpos" value="{% if entity is defined and BYSETPOS is defined and BYSETPOS > 0%}{{ BYSETPOS }}{%endif%}"/></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>bymonthday</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the month days to apply the
                        recurrence
                        to.
                    </div>
                </div>
            </th>
            <td><input name="bymonthday" value="{% if entity is defined and BYMONTHDAY is defined and BYMONTHDAY > 0%}{{ BYMONTHDAY }}{%endif%}"/></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>byyearday</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the year days to apply the recurrence
                        to.
                    </div>
                </div>
            </th>
            <td><input name="byyearday" value="{% if entity is defined and BYYEARDAY is defined and BYYEARDAY > 0%}{{ BYYEARDAY }}{%endif%}"/></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>byweekno</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the week numbers to apply the
                        recurrence
                        to.
                        Week numbers have the meaning described in ISO8601,
                        that
                        is,
                        the first week of the year is that containing at least
                        four
                        days of the new year.
                    </div>
                </div>
            </th>
            <td><input name="byweekno" value="{% if entity is defined and BYWEEKNO is defined and BYWEEKNO > 0%}{{ BYWEEKNO }}{%endif%}"></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>byhour</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the hours to apply the recurrence to.
                    </div>
                </div>
            </th>
            <td><input name="byhour" value="{% if entity is defined and BYHOUR is defined and BYHOUR > 0%}{{ BYHOUR }}{%endif%}"></td>
        </tr>

        <tr>
            <th>
                <div class="option-name"><code>byminute</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the minutes to apply the recurrence
                        to.
                    </div>
                </div>
            </th>
            <td><input name="byminute" value="{% if entity is defined and BYMINUTE is defined and BYMINUTE > 0%}{{ BYMINUTE }}{%endif%}"/></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>bysecond</code>

                    <div class="help">If given, it must be either an integer,
                        or a
                        sequence of
                        integers, meaning the seconds to apply the recurrence
                        to.
                    </div>
                </div>
            </th>
            <td><input name="bysecond" value="{% if entity is defined and BYSECOND is defined and BYSECOND > 0%}{{ BYSECOND }}{%endif%}"></td>
        </tr>
        <tr>
            <th>
                <div class="option-name"><code>byeaster</code>

                    <div class="help">
                        This is an extension to the RFC specification which the
                        Python
                        implementation provides.
                        <strong>Not implemented in the JavaScript
                            version.</strong>
                    </div>
                </div>
            </th>
            <td>
                <input disabled>
            </td>
        </tr>
        </tbody>
        </table>
        </form>
    </section>


     


    </div>
</div>
<section class="col-sm-6 col-md-6 col-xs-12" id="output">
    <h2>Output</h2>
    <table>
        <tr>
            <th><code>rule =</code></th>
            <td>
                <pre id="init"></pre>
            </td>
        </tr>
        <tr>
            <th><code>rule.origOptions</code></th>
            <td>
                <pre id="options-output"></pre>
            </td>
        </tr>
        <tr>
            <th><code>rule.toString()</code></th>
            <td>
                <pre id="rfc-output"><a href=""></a></pre>
            </td>
        </tr>
        <tr>
            <th><code>rule.toText()</code></th>
            <td>
                <em id="text-output"><a href=""></a></em>
            </td>
        </tr>
        <tr>
            <th><code>rule.all()</code></th>
            <td>
                <div class="box-body table-responsive "><table id="dates" class="table table-hover"></table></div>
            </td>
        </tr>
    </table>
</section>




        
</div>

 