{% if nb_event > 0 %}
    <h4>On en parle sur internet 202</h4>
    {% for item in articlesrecentsall %}
        {% if loop.index <= 4 %}
            {% if item.events | length > 0 %}
                <div class="media">
                    <div class="media-left">

                        <a title="{{ item.article.title }}" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{% if item.events[0].flyer != "" %}<img class="media-object" src="{{ ('/assets/flyers/' ~ item.events[0].flyer ) | imagine_filter('my_thumb_70') }}" />{% else %}<img class="media-object" src="{{ ('/assets/flyers/xxxxxnoimage.jpg'  ) | imagine_filter('my_thumb_70') }}" />{% endif %}</a>

                    </div>
                    <div class="media-body">
                        <h4 class="media-heading"><a title="{{ item.article.title }}" class="txt-red-darken-4" href="{{ path('mdts_detailevent', {'slug': item.events[0].origSlug}) }}">{{ item.article.title | striptags | slice(0,15) ~ '...'   }}</a></h4>
                        {{ item.article.content | raw | striptags | slice(0,30) ~ '...'   }}
                    </div>
                </div><hr>
            {% endif %}
        {% endif %}
    {% endfor %}
{% endif %}