{% if artiste|length>1 %}  
<div class="slider js_slider">
  <div class="frame js_frame">
      <ul class="slides js_slides">
{% endif %}
    {% for type in artiste %}
          {% if artiste|length>1 %} <li class="js_slide" style="width: 70px;">{% endif %}
              <a class="txt-red-darken-4" role="button" data-toggle="tooltip" data-placement="top" title="{{'Afficher les événements avec la participation de %categ%'|trans({'%categ%': type.name}) }}" href="{{ path('mdts_allevent_byartists', {'slug': type.origSlug}) }}">
                  {% if artiste|length>1 %}
                      {{ type.name|truncate(7) }}
                  {% else %}
                      {{ type.name }}
                  {% endif %}    
                  <br><br>
                {% if type.photo is not empty and file_exists(asset('assets/artistes_orig/'~type.photo ))%}
                    <img class="circle-image" src="{{ asset('assets/artistes_orig/'~type.photo )  | imagine_filter('my_thumb_70') }}" alt="" />
                {% else %}
                    <img  class="circle-image" alt="" src="{{ ('/assets/img/xxxxxpeople.png' ) | imagine_filter('my_thumb_70') }}">
                {% endif %}
              </a>
          {% if artiste|length>1 %}</li>{% endif %}{#% if loop.length > loop.index  %}, {% endif %#}
    {% endfor %}
  {% if artiste|length>1 %}      </ul>
  </div>
  <span class="js_prev prev">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M302.67 90.877l55.77 55.508L254.575 250.75 358.44 355.116l-55.77 55.506L143.56 250.75z"/></g></svg>
  </span>
  <span class="js_next next">
      <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" viewBox="0 0 501.5 501.5"><g><path fill="#2E435A" d="M199.33 410.622l-55.77-55.508L247.425 250.75 143.56 146.384l55.77-55.507L358.44 250.75z"/></g></svg>
  </span>  

</div>{% endif %}