<div class="page-header clearfix">
    {% if country is defined and (country|length > 0 or region|length>0 or locality|length > 0 or quartier|length > 0) %}
    <span class="label label-info label-medium color-black">Pays/Région/Ville/Quartier : </span>
    {% endif %}
    {# liste des pays  #}
    {% if country is defined %}
        {% for c in country %}
            <a data-gaecategory="Lien" data-gaelabel="event {{ prefixgaelabel }} - pays {{ c.name }}" href="{{ path(prefixpathurl ~ 'country', {'slug': slug, 'slugplace': c.slug}) }}" class="label label-info label-medium inline-block background-e6e6e6 color-black {{ c.css }}">{{ c.name }}</a>
        {% endfor %}
    {% endif %}

    {# liste des regions  #}
    {% if region is defined %}
        {% for c in region %}
            <a data-gaecategory="Lien" data-gaelabel="event {{ prefixgaelabel }} - region {{ c.name }}" href="{{ path(prefixpathurl ~ 'region', {'slug': slug, 'slugplace': c.slug}) }}" class="label label-info label-medium inline-block background-e6e6e6 color-black {{ c.css }}">{{ c.name }}</a>
        {% endfor %}
    {% endif %}

    {# liste des villes  #}
    {% if locality is defined %}
        {% for c in locality %}
            <a data-gaecategory="Lien" data-gaelabel="event {{ prefixgaelabel }} - ville {{ c.name }}" href="{{ path(prefixpathurl ~ 'locality', {'slug': slug, 'slugplace': c.slug}) }}" class="label label-info label-medium inline-block background-e6e6e6 color-black {{ c.css }}">{{ c.name }}</a>
        {% endfor %}
    {% endif %}

    {# liste des quartiers  #}
    {% if quartier is defined %}
        {% for c in quartier %}
            <a data-gaecategory="Lien" data-gaelabel="event {{ prefixgaelabel }} - quartier {{ c.name }}"  href="{{ path(prefixpathurl ~ 'quartier', {'slug': slug, 'slugplace': c.slug}) }}" class="label label-info label-medium inline-block background-e6e6e6 color-black {{ c.css }}">{{ c.name }}</a>
        {% endfor %}
    {% endif %}
</div>
