
<a data-gaecategory="Lien" data-gaelabel="(Article Presse - Titre: {{ type.title }}/{{ type.author }}) - Event {{ event.name }}"  class="list-group-item " href="{{ type.url }}" target="_blank" >
    <h4 class="list-group-item-heading">{{ type.title | slice(0,40) ~ '...' }}</h4>
    <p class="list-group-item-text">{{ type.content | striptags | slice(0,100) ~ '...' }}</p>
    <p class="list-group-item-text"><small>Publié le {{ type.CreatedAt|localizeddate('long', 'none' ) }}</small></p>
</a>