<div class="{% if app.request.isXmlHttpRequest() %}clearfix{% else %}pull-right{% endif %}">
    <div class="pagination">

        {% if maxPages > 1 %}
            <ul class="pagination pagination-sm">
                {# `«` arrow  #}
                <li {{ thisPage == 1 ? 'class="disabled"' }}>
                    <a href="{{ path('mdts_searchevent', []|merge(app.request.query.all)|merge({page: thisPage-1 < 1 ? 1 : thisPage-1}) ) }}">«</a>
                </li>

                {# Render each page number #}
                {% for i in 1..maxPages %}
                    <li {{ thisPage == i ? 'class="active"' }}>
                        <a href="{{ path('mdts_searchevent', []|merge(app.request.query.all)|merge({page: i}) ) }}">{{ i }}</a>
                    </li>
                {% endfor %}

                {# `»` arrow #}
                <li {{ thisPage == maxPages ? 'class="disabled"' }}>
                    <a href="{{ path('mdts_searchevent', []|merge(app.request.query.all)|merge({page: thisPage+1 <= maxPages ? thisPage+1 : thisPage}) ) }}">»</a>
                </li>
            </ul>
        {% endif %}
    </div>
</div>
<div class="clearfix" id="loader_paginate"></div>