<div class="row padding-left-right-15">
<h3 data-gaecategory="Recherche texte en-tête" data-gaelabel="{{'Rechercher un événement'|trans}}" data-gaevalue="">{{'Rechercher un événement'|trans}}</h3>
     <hr>
    {{ form_start(form, {'method': 'GET', 'action': path('mdts_searchevent')}) }}
    <div id="custom-search-input">
        <div class="row">
             
            <div class="col-md-3">
                <div class="form-group">
                    <div class='input-group date datetimepicker'  >
                        {{ form_widget(form.date_from, {'attr': { 'data-mask': '99/99/9999' ,'class': 'form-control', 'placeholder' : 'date_format_ddmmaaaa'|trans}}) }}
                        <span data-gaecategory="Form" data-gaelabel="Recherche Bouton Pick Calendar Date debut" class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                        </span>
                    </div>
                </div>
            </div>
             
            <!--div class="col-md-3">
                <div class="form-group">
                    <div class='input-group date datetimepicker'  >
                         
                        {{ form_widget(form.date_to, {'attr': { 'data-mask': '99/99/9999' ,'class': 'form-control', 'placeholder' : 'date_format_ddmmaaaa'|trans}}) }}
                        <span  data-gaecategory="Form" data-gaelabel="Recherche Bouton Pick Calendar Date fin"  class="input-group-addon">
                            <span class="fa fa-calendar">
                            </span>
                        </span>
                    </div>
                </div>
            </div-->
            <div class="col-md-9">
                <div class="input-group stylish-input-group">
                    {{ form_widget(form.query, {'attr': {'placeholder': 'placeholder_searchform'|trans ,'class': 'search-query form-control', 'maxlength' : '25'}}) }}
                      
                    <span class="input-group-addon">

                            <button  data-gaecategory="Form" data-gaelabel="Recherche Bouton valider"  type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                    </span>
                </div>
            </div>
        </div>
    </div>
 
    {{ form_end(form) }}
    <hr>
</div>
     
    
 