<script type='text/javascript'>

    google_ad_client  = 'pub-0184608766708661';
    google_ad_slot    = '4683562047';
    google_ad_width    = 250;
    google_ad_height  = 250

</script>
<script type='text/javascript'
        src='http://pagead2.googlesyndication.com/pagead/show_ads.js'>
</script>

<a class="twitter-timeline" href="https://twitter.com/Madatsara" data-widget-id="260439191144501248" target="_blank">Tweets by @Madatsara</a>
<script type='text/javascript' src="http://platform.twitter.com/widgets.js"></script>


<div id='fb-root'></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = '//connect.facebook.net/fr_FR/all.js#xfbml=1';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div  class='fb-like-box' data-href='https://www.facebook.com/pages/Madatsara/14804541858'  data-show-faces='true' data-stream='true' data-header='true'></div>

<br>