{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

 

 


{% block title %}{{'hometitle'|trans}}{% endblock %}



{% block body %}

 

        
        
 {% block fos_user_content %}
            {% endblock fos_user_content %}
      
     
{% endblock %}