{% trans_default_domain 'FOSUserBundle' %}
<div class="container">
    <h3>Mot de passe oublié</h3>

<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal" role="form">
    <div  class="form-group">
        {% if invalid_username is defined %}
            <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
        {% endif %}
        <span  class="input-group">
    		<span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

        <input placeholder="{{ 'resetting.request.username'|trans }}" type="text" id="username" name="username" class="form-control" required="required" />
            </span>
    </div>

    <div class="form-group">
        <a href="{{ path('fos_user_security_login') }}" class="btn btn-default"><i class="icon fa fa-chevron-left"></i> Retour formulaire de connexion</a>
        <button type="submit" id="_submit"  class="btn btn-default btn-large btn-primary" name="_submit" >{{ 'resetting.request.submit'|trans }}</button>
    </div>
</form>
    </div>
