{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Modification Evénement envoyé{% endblock %}

 


{% block searchglobal %}
    {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}
{% endblock %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Evénement envoyé
            <small>Edition</small>
        </h1>

    </section>


    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Info</h3>
                    </div>

                    <!-- /.box-header -->
                    <!-- form start -->

                    {{ form_start(edit_form, {'attr': {'role': 'form'}}) }}

                    <div class="box-body">
                        {# Aucune erreur lors de la creation #}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="icon fa fa-check"></i> {{ flashMessage }}
                            </div>
                        {% endfor %}

                        {# Si erreur lors de la creation #}
                        {% for flashMessage in app.session.flashbag.get('warning') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="icon fa fa-ban"></i> {{ flashMessage }}
                            </div>
                        {% endfor %}

                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Titre :' ) }}
                            {{ entity.name }}
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Thématique :' ) }}
                            {{ entity.thematique.name }}
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Membre :' ) }}
                            {{ entity.author.nickname }}
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Statut :' ) }}
                            {{ form_widget(edit_form.status, {'attr': { 'class': 's2-parent-event-local  form-control'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Evénement associé :' ) }}
                            <div class="row">
                                <div class="col-md-12">
                                    <select id="select_mdts_homebundle_event"  class="select2_event_ineventbymember form-control" multiple="multiple"><option value="">Choisir</option></select>
                                    {{ form_widget(edit_form.eventunmapped ) }}
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Informer l\'auteur par e-mail :' ) }}
                            {{ form_widget(edit_form.authorinfotype, {'attr': { 'class': 's2-parent-event-local  form-control', 'data-addnew': 'new', 'data-ajaxurl': 'saveauthorinfotypes'}}) }}
                        </div>
                        <div class="form-group">
                            {{ form_label(edit_form.name, 'Si e-mail du même type déja envoyé auparavant :' ) }}
                            {{ form_widget(edit_form.emailauthorinfotype, {'attr': { 'class': 's2-parent-event-local  form-control', 'data-addnew': 'new', 'data-ajaxurl': 'saveemailauthorinfotypes'  }}) }}
                        </div>

                         
                         
                         
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">

                        <a class="btn btn-default" href="{{ path('admin_eventbymember_liste') }}">
                            <i class="icon fa fa-chevron-left"></i> Retour
                        </a>
                        {{ form_widget(edit_form.submit, {'label': 'Enregistrer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                    </div>


                    <div class="hidden">
                        {{ form_rest(edit_form) }}
                    </div>
                    {{ form_end(edit_form) }}

                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock %}
