{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Détail Evénement envoyé{% endblock %}

 


{% block searchglobal %}
    {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}
{% endblock %}

{% block body -%}
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            Evénement envoyé
            <small>Détail</small>
        </h1>

    </section>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">Info</h3>
                    </div>

                    <!-- /.box-header -->
                    <!-- form start -->
 

                    <div class="box-body">
                        {# Aucune erreur lors de la creation #}
                        {% for flashMessage in app.session.flashbag.get('notice') %}
                            <div class="alert alert-warning alert-dismissible" role="alert">
                                <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="icon fa fa-check"></i> {{ flashMessage }}
                            </div>
                        {% endfor %}

                        {# Si erreur lors de la creation #}
                        {% for flashMessage in app.session.flashbag.get('warning') %}
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <i class="icon fa fa-ban"></i> {{ flashMessage }}
                            </div>
                        {% endfor %}
                        <div class="box-footer">

                        <a class="btn btn-default" href="{{ path('admin_eventbymember_liste') }}">
                            <i class="icon fa fa-chevron-left"></i> Retour
                        </a>
                        <a class="btn btn-primary" href="{{ path('admin_eventbymember_edit', { 'id': entity.id }) }}">
                            <i class="icon fa fa-edit"></i> Modifier
                        </a>
                         
                    </div>    
                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Nom :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.name }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Thématique :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.thematique.name }}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Envoyé par :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.author.nickname }}
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Evénement attaché :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {% if entity.event.name is defined %}
                                    <a href="{{ path('admin_event_edit', { 'id': entity.event.id }) }}">{{ entity.event.name }}</a>
                                {% else %}
                                    <a href="{{ path('admin_event_new', { 'eventbymember': entity.id }) }}">Créer un événement</a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Statut :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.status.name }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Ajouté le :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.createdAt|localizeddate('short', 'none' ) }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Mis à jour le :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.updatedAt|localizeddate('short', 'none' ) }}
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Description :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                {{ entity.description }}
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                Flyer :
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">
                                 {% if entity.flyer != '' %}
                                <img class="cursorpointer img-responsive" src="{{ ('/assets/flyerseventbyuser/' ~ entity.flyer ) | imagine_filter('resize') }}">
                                <br>
                                <a class="btn btn-default" target="_blank" href="{{ ('/assets/flyerseventbyuser/' ~ entity.flyer ) }}"><i class="icon fa fa-download"></i> Télécharger</a><br />
                                {% endif %}
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-1 col-xs-1 col-lg-1 col-md-1">
                                 
                            </div>
                            <div class="col-sm-11 col-xs-11 col-lg-11 col-md-11">

                            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                              <div class="panel panel-default">
                                <div class="panel-heading" role="tab" id="headingOne">
                                  <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                      Log Info
                                    </a>
                                  </h4>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                                  <div class="panel-body">
                                    <pre>{{ infos_dump | raw  }}</pre>
                                  </div>
                                </div>
                              </div>
                              </div>

                                
                            </div>
                        </div>

                         
                         
                         
                    </div>
                    <!-- /.box-body -->

                    <div class="box-footer">

                        <a class="btn btn-default" href="{{ path('admin_eventbymember_liste') }}">
                            <i class="icon fa fa-chevron-left"></i> Retour
                        </a>
                        <a class="btn btn-primary" href="{{ path('admin_eventbymember_edit', { 'id': entity.id }) }}">
                            <i class="icon fa fa-edit"></i> Modifier
                        </a>
                         
                    </div>


                     

                </div>
                <!-- /.box -->
            </div>
        </div>

    </section>
    <!-- /.content -->
{% endblock %}
