{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::baserror.html.twig' %}

 

 


{% block title %}{{ status_code }} {{ status_text }}{% endblock %}



{% block body %}
          
      
<h2>{{ status_code }} {{ status_text }} </h2>

<div class="alert alert-warning">
<p>{{'Une erreur est apparue. Veuillez nous excuser pour la gène occasionnée.'|trans}}</p>
</div>
      
     
{% endblock %}
