{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::baserror.html.twig' %}

 

 


{% block title %}{{ status_code }} {{ status_text }}{% endblock %}



{% block body %}
 <h2>{{'Page non trouvée'|trans}}</h2>            
      
<div class="well">
<p>{{'La page demandée n'a pas été trouvée'|trans}}</p>
</div>
      
     
{% endblock %}
