<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     
    <link rel="icon" href="/favicon.ico">
     

        <title>{% block title %}{% endblock %}</title>
        
        {% include "mdtsBackendBundle:Partial:headergenerique.html.twig"  %}
      
       
      {% block stylesheets %}{% endblock %}

       

 



    </head>
<!--
BODY TAG OPTIONS:
=================
Apply one or more of the following classes to get the
desired effect
|---------------------------------------------------------|
| SKINS         | skin-blue                               |
|               | skin-black                              |
|               | skin-purple                             |
|               | skin-yellow                             |
|               | skin-red                                |
|               | skin-green                              |
|---------------------------------------------------------|
|LAYOUT OPTIONS | fixed                                   |
|               | layout-boxed                            |
|               | layout-top-nav                          |
|               | sidebar-collapse                        |
|               | sidebar-mini                            |
|---------------------------------------------------------|
-->
    <body class="hold-transition skin-red sidebar-mini"> 
 
<div >

  <!-- Main Header -->

  <!-- Left side column. contains the logo and sidebar -->


    
  {% block body %}{% endblock %}


  <!-- /.content-wrapper -->

  <!-- Main Footer -->
   

   
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->
<script>
    var urlpath = '{{ app.environment == 'dev' ? '/app_dev.php' : '' }}';
</script>
{% block before_javascripts %}{% endblock %}
{% include "mdtsBackendBundle:Partial:jsfootergenerique.html.twig"  %}

      {% block javascripts %}{% endblock %}

    </body>
  </html>
