{% block vich_file_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_file_widget %}
    {% spaceless %}
        <div class="vich-file">
            {{ form_widget(form.file) }}
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}

            {% if download_uri %}
                <a target="_blank" class="btn btn-default" href="{{ download_uri }}"><em class="fa fa-download"></em> {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
            {% endif %}
        </div>
    {% endspaceless %}
{% endblock %}

{% block vich_image_row -%}
    {% set force_error = true %}
    {{- block('form_row') }}
{%- endblock %}

{% block vich_image_widget %}
    {% spaceless %}
        <div class="vich-image thumbnails">
            <div class="hiddenbe">{{ form_row(form.file) }}</div>
            {% if form.delete is defined %}
                {{ form_row(form.delete) }}
            {% endif %}


            {% if image_uri %}
            <div class="text-center center-block"><a  target="_blank" href="{{ image_uri }}"><img  id="mainflyer"  src="{{ image_uri }}" alt=""  height="200" class="img-responsive" /></a></div>
            {% endif %}

            {% if download_uri %}
                <br> <a class="btn btn-default" href="{{ download_uri }}"><em class="fa fa-download"></em> {{ translation_domain is same as(false) ? download_label : download_label|trans({}, translation_domain) }}</a>
            {% endif %}

        </div>
    {% endspaceless %}
{% endblock %}
