<div class="container">

    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}

    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
        {{ 'layout.logged_in_as'|trans({'%username%': app.user.nickname}, 'FOSUserBundle') }}
        <a class="btn btn-default" href="{{ path('fos_user_security_logout') }}">
            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
        </a>
    {% endif %}

    {% if  is_granted("IS_AUTHENTICATED_FULLY") == false %}

        {% if error is defined %}
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 5px;">
                <a class="btn btn-lg btn-social btn-facebook btn-default" href="{{ hwi_oauth_login_url('facebook') }}">
                    <span class="fa fa-facebook"></span> Via Facebook
                </a>
            </div>

            <div class="col-md-6 col-lg-6 col-sm-12 col-xs-12" style="margin-top: 5px;">
                <a class="btn btn-lg btn-social btn-google btn-default" href="{{ hwi_oauth_login_url('google') }}">
                    <span class="fa fa-google"></span> Via Google+
                </a>
            </div>

        </div>




    {% endif %}

</div>