{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascripts %}
  <script src="{{ asset('bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js') }}"></script>

  <script>
    $(function () { 
      $("#editor1").wysihtml5();   
    });
  </script>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('bower_components/AdminLTE/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css') }}">
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}

<!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evénement
        <small>Créer</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Info événement</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form role="form">
              <div class="box-body">
                <div class="form-group">
                  <label for="exampleInputEmail1">Nom de l'événement</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ex : Bodo en concert au CCESCA">
                </div>
                 
                <div class="form-group">
                  <label for="exampleInputFile">Fichier image (format jpg ou png)</label>
                  <input type="file" id="exampleInputFile">

                  <p class="help-block">Example fichier.jpg</p>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox"> Check me out
                  </label>
                </div>
                <textarea id="editor1" name="editor1" rows="10" cols="80">
                                            This is my textarea to be replaced with CKEditor.
                    </textarea>
              </div>
              <!-- /.box-body -->

              <div class="box-footer">
                <button type="submit" class="btn btn-primary">Créer</button>
              </div>
            </form>
          </div>
          <!-- /.box -->
          </div>
          </div>

      </section>
    <!-- /.content -->

{% endblock %}

