{# app/Resources/views/blog/index.html.twig #}
{% extends app.request.query.get("iframe") == 1 ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}


 

{% block title %}Admin - Créer événement - MADATSARA{% endblock %}

{% block before_javascripts %}
{% endblock %}

{% block javascripts %}
  
{% verbatim %}
  <!-- {# put inline JS here #} -->
{% endverbatim %}
{% endblock %}

{% block stylesheets %}
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}

    


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evénement
        <small>Créer</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    <!-- Main content -->
    <section class="content">
    {{ form_start(form, {'attr': {'role': 'form', 'id' : 'editmultiple'}}) }}

     
      <div class="row">
        <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Infos principales</h3>
            </div>

            <!-- /.box-header -->
            <!-- form start -->

            

    <div class="box-body">
              {# Aucune erreur lors de la creation #}
              {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-check"></i> {{ flashMessage }}
                </div>
              {% endfor %}

              {# Si erreur lors de la creation #}
              {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-ban"></i> {{ flashMessage }}
                </div>
              {% endfor %}

              {# liste des champs #}

              <div class="form-group">
                    {{ form_label(form.eventtype, 'Type de l\'événement' ) }}
                    {{ form_widget(form.eventtype, {'attr': { 'class': 'select2  form-control'}}) }}
                     
                </div>

              <div class="form-group">
                    {{ form_label(form.entreetype, 'Lieu' ) }}
                    <div class="row">
                      <div class="col-md-10">
                        {{ form_widget(form.eventmultilieu ) }}
                        <select id="select_mdts_homebundle_event_eventlieu"  class="select2_lieux form-control" multiple="multiple"><option value="">Choisir</option></select>
                      </div>
                      <div class="col-md-1" >
                        <a class="btn btn-default btnadd btnaddlieu" title="Ajouter un lieu"><em class="fa fa-plus"></em></a>
                      </div>
                    </div> 
                </div>

                <div class="form-group">
                    {{ form_label(form.artistesdj, 'Artistes, DJ et/ou Organisateurs' ) }}
                    <div class="row">
                      <div class="col-md-10">
                      <select id="select_mdts_homebundle_event_artistesdj"  class="select2_artiste form-control" multiple="multiple"><option value="">Choisir</option></select>
                        {{ form_widget(form.artistesdj ) }}
                      </div>
                      <div class="col-md-1" >
                        <a class="btn btn-default btnadd btnaddartistes" title="Ajouter un artiste/DJ"><em class="fa fa-plus"></em></a>
                      </div>
                    </div> 
                </div>
                <div class="form-group">
                    {{ form_label(form.entreetype, 'Assigner à la fête' ) }}
                    <div class="row">
                      <div class="col-md-10">
                        {{ form_widget(form.eventlocal ) }}
                        <select id="select_mdts_homebundle_event_eventlocal" class="select2_fete form-control"><option value="">Choisir</option></select>
                      </div>
                      <div class="col-md-1" >
                        <a class="btn btn-default btnadd btnaddlocal" title="Ajouter une fête"><em class="fa fa-plus"></em></a>
                      </div>
                    </div> 
                </div>
              
               


            <div class="form-group">
                {{ form_label(form.related_event, 'Evénement en relation' ) }}
                <div class="row">
                    <div class="col-md-12">
                        <select id="select_mdts_homebundle_related_event"  class="select2_related_event form-control" multiple="multiple"><option value="">Choisir</option></select>
                        {{ form_widget(form.related_event ) }}
                    </div>

                </div>
            </div>



    <div class="box-footer">                 
                 
                {% if app.session.get('referer')!='' %} 
                  <a class="btn btn-default" href="{{ app.session.get('referer') }}">
                {% else %}
                  <a class="btn btn-default" href="{{ path('admin_event') }}">
                {% endif %}
                    <i class="icon fa fa-chevron-left"></i> Retour
                </a> 

        {{ form_widget(form.save, {'label': 'Enregistrer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}

    </div>

              


             </div>
             <!-- / end box -->
             </div>
             </div>

             <!-- left column -->
        <div class="col-md-6">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Infos secondaires</h3>
            </div>

            <!-- /.box-header -->
            <!-- form start -->



              <div class="box-body">

                {# liste des champs #}

                {% if entities | length > 0 %}
                    {{ form_widget(form.id ) }}
                <h4>Evénements concernés</h4>
                  <table class="table table-hover">
                      <thead>
                      <tr>
                          <th>#</th>
                          <th>Nom</th>
                      </tr>
                      </thead>
                      <tbody>
                  {% for entity in entities %}
                      <tr>
                          <td><div class="checkbox"><input class="styled" checked="checked" type="checkbox" name="form[id][]" value="{{ entity.id }}"><label></label></div></td>
                          <td>{{ entity.name }}</td>
                      </tr>
                  {% endfor %}
                      </tbody>
                  </table>
                {% endif %}





                  <div class="form-group">
                    {{ form_label(form.articlesmultiple, 'Articles de la presse' ) }}
                    <div id="collectionarticlesContainer"
                       data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_articlesmultiple.html.twig', { 'form': form.articlesmultiple.vars.prototype }) }}
                           {% endfilter %}">
                    </div>
                </div>
              <div class="form-group">
                    {{ form_label(form.videomultiple, 'Vidéo' ) }}
                    <div id="collectionvideoContainer"
                       data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_videomultiple.html.twig', { 'form': form.videomultiple.vars.prototype }) }}
                           {% endfilter %}">
                    </div>
                </div>






            </div>
            </div>



             </div>

             <div class="hidden">
             {{ form_rest(form) }}
             </div>

             


            {{ form_end(form) }}

            
</section>


         
{% endblock %}
