{# app/Resources/views/blog/index.html.twig #}
{% extends app.request.query.get("iframe") == 1  or app.session.get('iframe') == 1 ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}


 

{% block title %}Admin - Créer événement - MADATSARA{% endblock %}

{% block before_javascripts %}
    <script>
      var jsonprice = JSON.parse('{{ eventprice | raw }}');
      var jsoneventvideos = JSON.parse('{{ videoevent | raw }}');
      var jsonflyerevent = JSON.parse('{{ flyerevent | raw }}');
      var jsonarticlesevent = JSON.parse('{{ articlesevent | raw }}');
    </script>
{% endblock %}
{% block javascripts %}
  

{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}

    


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evénement
        <small>Créer</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    {% include "mdtshomeBundle:Event:form_add_edit.html.twig"  with { form: edit_form, option: "edit" } %}


         
{% endblock %}
