<!-- Main content -->
<section class="content">
    {{ form_start(form, {'attr': {'role': 'form'}}) }}


    <div class="row">
        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Infos principales</h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->



                <div class="box-body">
                    {# Aucune erreur lors de la creation #}
                    {% for flashMessage in app.session.flashbag.get('notice') %}
                        <div class="alert alert-warning alert-dismissible" role="alert">
                            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="icon fa fa-check"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {# Si erreur lors de la creation #}
                    {% for flashMessage in app.session.flashbag.get('warning') %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <i class="icon fa fa-ban"></i> {{ flashMessage }}
                        </div>
                    {% endfor %}

                    {# liste des champs #}
                    <div class="form-group">
                        <div id="filedrag">
                            <label style="display:block;" for="mdts_homebundle_event_flyerFile_file">Glisser-déposer le flyer ici / Coller une image (à partir de Chrome) ou cliquer pour parcourir
                                {{ form_widget(form.flyerFile, {'attr': { 'class': ' form-control'}}) }}</label>
                        </div>
                    </div>

                    <div class="form-group">

                        <div class="checkbox">
                            {{ form_widget(form.hidden, {'attr': {  'class': 'styled'}}) }}
                            {{ form_label(form.hidden, 'Caché' ) }}
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form_label(form.name, 'Nom de l\'événement' ) }}
                        {{ form_widget(form.name, {'attr': {'placeholder' : 'Ex: Bodo en concert au CCESCA', 'class': 'form-control'}}) }}
                    </div>
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                                <h4 class="panel-title">
                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Facilitateur de saisie (<strong>@</strong><small>NomArtiste</small> pour chercher un artiste - <strong>#</strong><small>NomLieu</small> pour chercher un lieu )
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                                <div class="panel-body"><textarea id="name_ck" style="width:100%;height:2em;"></textarea></div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="daterange">Date de l'événement</label>
                        <input name="daterange" type="text" class="form-control">
                    </div>
                    <div class="form-group">
                        {{ form_label(form.eventtype, 'Type de l\'événement' ) }}
                        {{ form_widget(form.eventtype, {'attr': { 'class': 'select2  form-control'}}) }}

                    </div>
                    <div class="form-group">
                        {{ form_label(form.entreetype, 'Tarif / Prix d\'entrée' ) }}
                        {{ form_widget(form.entreetype, {'attr': { 'class': 'form-control'}}) }}
                    </div>
                    <div id="fieldprice" class="hidden">
                        <div class="form-group">
                            {{ form_label(form.prixenclair, 'Prix en clair' ) }}
                            {{ form_widget(form.prixenclair, {'attr': { 'placeholder' : 'ex: 25 Eur, 10000 Ar', 'class': 'form-control'}}) }}
                        </div>
                        <p class="text-center">ou plusieurs options possibles</p>

                        {# iterate over each existing tag and render its only field: name #}


                        <div id="collectionContainer"
                             data-prototype="
                         {% filter escape %}
                             {{ include('mdtsBackendBundle:Partial:prototype.html.twig', { 'form': form.prixmultiple.vars.prototype }) }}
                         {% endfilter %}">
                        </div>




                    </div>
                    <hr>
                    <div class="form-group">
                        {{ form_label(form.entreetype, 'Lieu' ) }}
                        <div class="row">
                            <div class="col-md-10">
                                {{ form_widget(form.eventmultilieu ) }}
                                <select id="select_mdts_homebundle_event_eventlieu"  class="select2_lieux form-control" multiple="multiple"><option value="">Choisir</option></select>
                            </div>
                            <div class="col-md-1" >
                                <a class="btn btn-default btnadd btnaddlieu" title="Ajouter un lieu"><em class="fa fa-plus"></em></a>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        {{ form_label(form.artistesdj, 'Artistes, DJ et/ou Organisateurs' ) }}
                        <div class="row">
                            <div class="col-md-10">
                                <select id="select_mdts_homebundle_event_artistesdj"  class="select2_artiste form-control" multiple="multiple"><option value="">Choisir</option></select>
                                {{ form_widget(form.artistesdj ) }}
                            </div>
                            <div class="col-md-1" >
                                <a class="btn btn-default btnadd btnaddartistes" title="Ajouter un artiste/DJ"><em class="fa fa-plus"></em></a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" id="resultArtistes">

                    </div>
                    <div class="form-group">
                        {{ form_label(form.entreetype, 'Assigner à la fête' ) }}
                        <div class="row">
                            <div class="col-md-10">
                                {{ form_widget(form.eventlocal ) }}
                                <select id="select_mdts_homebundle_event_eventlocal" class="select2_fete form-control"><option value="">Choisir</option></select>
                            </div>
                            <div class="col-md-1" >
                                <a class="btn btn-default btnadd btnaddlocal" title="Ajouter une fête"><em class="fa fa-plus"></em></a>
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        {{ form_label(form.description, 'Description' ) }}
                        {{ form_widget(form.description, {'attr': { 'class': 'form-control'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(form.related_event, 'Evénement en relation' ) }}
                        <div class="row">
                            <div class="col-md-12">
                                <select id="select_mdts_homebundle_related_event"  class="select2_related_event form-control" multiple="multiple"><option value="">Choisir</option></select>
                                {{ form_widget(form.related_event ) }}
                            </div>

                        </div>
                    </div>



                    <div class="box-footer">

                        {% if app.session.get('referer')!='' %}
                        <a class="btn btn-default" href="{{ app.session.get('referer') }}">
                            {% else %}
                            <a class="btn btn-default" href="{{ path('admin_event') }}">
                                {% endif %}
                                <i class="icon fa fa-chevron-left"></i> Retour
                            </a>

                            {{ form_widget(form.save, {'label': 'Enregistrer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                            {{ form_widget(form.save_and_back, {'label': 'Enregistrer et retour'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                            {{ form_widget(form.save_and_new, {'label': 'Enregistrer et créer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-success'}}) }}
                            {{ form_widget(form.save_and_copy, {'label': 'Enregistrer et dupliquer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}

                    </div>




                </div>
                <!-- / end box -->
            </div>
        </div>

        <!-- left column -->
        <div class="col-md-6">
            <!-- general form elements -->
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Infos secondaires</h3>
                </div>

                <!-- /.box-header -->
                <!-- form start -->



                <div class="box-body">

                    {# liste des champs #}



                    <div class="form-group">
                        <label>Chercher un événement enregistré</label>
                        <div class="form-group" id="remoteevent">
                            <input class="form-control typeahead" type="text" placeholder="Taper un événement">
                        </div>


                    </div>

                    <div class="form-group hidden" id="resultpic">
                        {{ form_widget(form.filenameajax) }}
                        {{ form_widget(form.dragandrop) }}
                        <div class="clearfix">
                            <div id="image"></div>
                            <div id="imageplus"></div>
                            <div class="clearfix" id="carouselimages"></div>
                            <!--a style="margin-left:5px;" title="Récupérer le texte contenu dans l'image" id="btngetssh" class="btn btn-default pull-left"><em class="fa fa-refresh"></em></a-->
                        </div>
                        <!--div class="well " id="outcontent"></div-->
                    </div>

                    <div class="form-group">
                        {{ form_label(form.articlesmultiple, 'Articles de la presse' ) }}
                        <div id="collectionarticlesContainer"
                             data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_articlesmultiple.html.twig', { 'form': form.articlesmultiple.vars.prototype }) }}
                           {% endfilter %}">
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.videomultiple, 'Vidéo' ) }}
                        <div id="collectionvideoContainer"
                             data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_videomultiple.html.twig', { 'form': form.videomultiple.vars.prototype }) }}
                           {% endfilter %}">
                        </div>
                    </div>
                    <hr>
                    <!--<div class="form-group">
                    {{ form_label(form.flyermultiple, 'Autres flyers' ) }}
                    <div id="collectionflyerContainer"
                       data-prototype="
                           {% filter escape %}
                               {{ include('mdtsBackendBundle:Partial:proto_flyermultiple.html.twig', { 'form': form.flyermultiple.vars.prototype }) }}
                           {% endfilter %}">
                    </div>
                </div>-->
                    <div class="form-group">
                        {{ form_label(form.contactEvent, 'Contact événement' ) }}
                        {{ form_widget(form.contactEvent, {'attr': {'placeholder' : 'Ex: Tél : 01 xx xx xx', 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.resaPrevente, 'Prévente / Résa.' ) }}
                        {{ form_widget(form.resaPrevente, {'attr': {'placeholder' : 'Ex: Supermusic Analakely, Fnac...', 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        {{ form_label(form.accesTransport, 'Accès transport' ) }}
                        {{ form_widget(form.accesTransport, {'attr': {'placeholder' : 'Ex: Bus 119 - Arrêt 67Ha, Métro 8 - Station République', 'class': 'form-control'}}) }}
                    </div>
                    <div class="form-group">
                        <label for="daterange">Slug</label>
                        {{ form_widget(form.slug, {'attr': {'placeholder' : 'Laisser vide - se remplit automatiquement', 'class': 'form-control'}}) }}
                    </div>

                </div>
            </div>



        </div>

        <div class="hidden">
            {{ form_rest(form) }}
        </div>




        {{ form_end(form) }}


</section>
<div class="well hidden" id="blociframeartiste">
    <h4>Modification de l'artiste <em class="fa fa-arrow-down"></em></h4>
    <iframe width="100%" src="about:blank" id="iframe" frameborder="0" height="0"></iframe></div>

{% include "mdtsBackendBundle:Partial:reccurence.html.twig"  %}