{# app/Resources/views/blog/index.html.twig #}
{% extends app.request.query.get("iframe") == 1 ? 'mdtsBackendBundle::baseiframe.html.twig' : 'mdtsBackendBundle::base.html.twig' %}


 

{% block title %}Admin - Créer événement - MADATSARA{% endblock %}

{% block javascripts %}

 <script>
  var url = '{{app.request.query.get("url")}}';
 </script>

    {% verbatim %}

{% endverbatim %}
{% endblock %}

{% block stylesheets %}

{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}

    


    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Evénement
        <small>Créer</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>
{% if entityeventbymember is defined and entityeventbymember.flyer is defined and entityeventbymember.flyer!="" %}
<script>
    var flyer_eventbymember = "{\"success\" : \"Fichier enregistre\", \"filename\" : \"{{ entityeventbymember.flyer }}\"}";
</script>
{% endif %}

    {% include "mdtshomeBundle:Event:form_add_edit.html.twig"  with { form: form }  %}
         
{% endblock %}
