{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Event</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Flyer</th>
                <td>{{ entity.flyer }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ entity.slug }}</td>
            </tr>
            <tr>
                <th>Deletedat</th>
                <td>{{ entity.deletedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Cancelledat</th>
                <td>{{ entity.cancelledAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ entity.position }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ entity.category }}</td>
            </tr>
            <tr>
                <th>Prixenclair</th>
                <td>{{ entity.prixenclair }}</td>
            </tr>
            <tr>
                <th>Prixunique</th>
                <td>{{ entity.prixunique }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Dateunique</th>
                <td>{{ entity.dateUnique|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Heuredebut</th>
                <td>{{ entity.heureDebut|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Heurefin</th>
                <td>{{ entity.heureFin|date('H:i:s') }}</td>
            </tr>
            <tr>
                <th>Heurefinaube</th>
                <td>{{ entity.heureFinAube }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{{ entity.createdAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Updatedat</th>
                <td>{{ entity.updatedAt|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Hidden</th>
                <td>{{ entity.hidden }}</td>
            </tr>
            <tr>
                <th>Datedebut</th>
                <td>{{ entity.dateDebut|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Datefin</th>
                <td>{{ entity.dateFin|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Rrule</th>
                <td>{{ entity.rrule }}</td>
            </tr>
            <tr>
                <th>Contactevent</th>
                <td>{{ entity.contactEvent }}</td>
            </tr>
            <tr>
                <th>Resaprevente</th>
                <td>{{ entity.resaPrevente }}</td>
            </tr>
            <tr>
                <th>Accestransport</th>
                <td>{{ entity.accesTransport }}</td>
            </tr>
            <tr>
                <th>T3id</th>
                <td>{{ entity.t3id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_event') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_event_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
