{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtsBackendBundle::base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block javascripts %}
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.date.extensions.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
<script src="{{ asset('bower_components/AdminLTE/plugins/input-mask/jquery.inputmask.extensions.js') }}"></script>
{% endblock %}

{% block stylesheets %}
 
{% endblock %}


{% block searchglobal %}
     {% include "mdtsBackendBundle:Partial:searchform.html.twig" with { form: searchForm } %}          
{% endblock %}

{% block body %}
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Rubrique
        <small>Créer</small>
      </h1>
      <!--ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active">Here</li>
      </ol-->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <!-- left column -->
        <div class="col-md-12">
          <!-- general form elements -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Info</h3>
            </div>

            <!-- /.box-header -->
            <!-- form start -->

    {{ form_start(form, {'attr': {'role': 'form'}}) }}

    <div class="box-body">
              {# Aucune erreur lors de la creation #}
              {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-warning alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-check"></i> {{ flashMessage }}
                </div>
              {% endfor %}

              {# Si erreur lors de la creation #}
              {% for flashMessage in app.session.flashbag.get('warning') %}
                <div class="alert alert-danger alert-dismissible" role="alert">
                  <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <i class="icon fa fa-ban"></i> {{ flashMessage }}
                </div>
              {% endfor %}

              <div class="form-group">
                  {{ form_label(form.name, 'Nom' ) }}
                  {{ form_widget(form.name, {'attr': { 'class': 'form-control'}}) }} 
              </div>    
                  </div>
              <!-- /.box-body -->
               
               
       

              <div class="box-footer">                 
                 
                <a class="btn btn-default" href="{{ path('admin_eventtype') }}">
                    <i class="icon fa fa-chevron-left"></i> Retour
                </a> 
        {{ form_widget(form.submit, {'label': 'Créer'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
              </div>

              <div class="hidden">
             {{ form_rest(form) }}
             </div>

             
             

            {{ form_end(form) }}

        

{% endblock %}
