{# app/Resources/views/blog/index.html.twig #}
{% extends 'mdtshomeBundle::base.html.twig' %}

{% form_theme form _self %}
{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <div class="alert alert-warning" role="alert">
                {% for error in errors %}
                    - {{ error.message }}<br>
                {% endfor %}
            </div>

        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}




{% block title %}{{'Ajouter un événement'|trans}} - Madatsara{% endblock %}



{% block body %}





    <div class="row">
        <div class="col-xs-12 col-sm-9 col-md-9">

            {% if is_granted("IS_AUTHENTICATED_FULLY") %}

                <h2>{{'Ajouter un événement'|trans}}</h2>


            <hr>

            {# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

            {% for flashMessage in app.session.flashbag.get('notice') %}
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button data-gaecategory="Cta" data-gaelabel="Contact Alert Close" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    {{ flashMessage }}
                </div>
            {% endfor %}
            <div class="">
                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}

                {# Les erreurs générales du formulaire. #}
                {{ form_errors(form) }}

                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.name) }}
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.name, 'Nom de l\'événement'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}



                    <div class="col-sm-9">
                        {# Génération de l'input. #}
                        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>
                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.thematique) }}
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.thematique, 'Thématique'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}



                    <div class="col-sm-9">
                        {# Génération de l'input. #}
                        {{ form_widget(form.thematique, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>

                {# Affichage des erreurs pour ce champ précis. #}
                {# { form_errors(form.flyerFile) }#}
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.flyerFile, 'Flyer (Fichier Image : jpg ou png)' , {'label_attr': {'class': 'col-sm-3 control-label'}}) }}



                    <div class="col-sm-9">
                        {# Génération de l'input. #}
                        {{ form_widget(form.flyerFile, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>




                {# Affichage des erreurs pour ce champ précis. #}
                {{ form_errors(form.description) }}
                <div class="form-group">
                    {# Génération du label. #}
                    {{ form_label(form.description, 'Description de l\'événement'|trans, {'label_attr': {'class': 'col-sm-3 control-label'}}) }}



                    <div class="col-sm-9">
                        {# Génération de l'input. #}
                        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
                    </div>
                </div>








                {# Pour le bouton, pas de label ni d'erreur, on affiche juste le widget #}
                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        {{ form_widget(form.save, {'label': 'form.contact.btn.submit'|trans , 'attr': {'value' : 'Envoyer' ,'class': 'btn btn-primary'}}) }}
                    </div>
                </div>

                {# Génération automatique des champs pas encore écrits.
                   Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
                   et tous les champs cachés (type « hidden »). #}
                <div class="hidden">{{ form_rest(form) }}</div>

                {# Fermeture de la balise <form> du formulaire HTML #}
                {{ form_end(form) }}
                <p><small>Tous les champs sont obligatoires.</small>  </p>


            </div>

            {% else %}

                <h2>{{'Connexion nécessaire'|trans}}</h2>
                <div class="well"><p>Merci d'utiliser un des réseaux sociaux ci-dessous pour vous connecter</p>
                    <p>Une fois connecté, vous pourriez ajouter <strong>gratuitement</strong> un événement sur ce site.</p>
                    <hr>
                {% include "mdtsUserBundle:Partial:login.html.twig"  %}</div>
            {% endif %}
        </div>
        <div class="col-xs-12 col-sm-3 col-md-3">

            {% include "mdtshomeBundle:Partial:sidebargenerique.html.twig" %}



        </div>
    </div>


{% endblock %}
